.pd_header{height:80px;padding:8px 0}
.head_wrap{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;padding:0 15px}
.head_mid .navbar-nav{flex-direction:row}
.head_lft{display:flex;align-items:center;position:relative}
.head_mid{width:auto;display:flex;justify-content:center;align-items:center}
.rmd_logo{width:50px}
.rmd_logo a{display:block}
.rmd_logo img{width:36px}
.head_mid .navbar-nav .nav-item .nav-link{width:80px;height:64px;justify-content:center;position:relative;display:flex;align-items:center;padding:0}
.head_mid .navbar-nav .nav-item .nav-link:hover svg path{fill:#2c99cb}
.head_mid .navbar-nav .active .nav-link svg path{fill:#2c99cb}
.head_mid .navbar-nav .nav-item .nav-link::before{transform:scaleX(0);width:0%;background-color:#2c99cb;height:3px;position:absolute;bottom:-8px;left:0;content:'';transition:all ease-in-out .3s}
.head_mid .navbar-nav .active .nav-link::before,.head_mid .navbar-nav .nav-item .nav-link:hover::before{width:100%;transform:scaleX(1)}
.pdh_profile_pic{width:40px;height:40px;border-radius:50%;overflow:hidden;border:2px solid #fff;box-shadow:0 3px 6px rgba(0,0,0,.16);display:inline-block;vertical-align:middle;margin-right:10px}
.pdh_profile_pic img{width:36px;height:36px;object-fit:cover;object-position:center}
.head_rgt{display:flex;justify-content:flex-end;align-items:center}
.pd_head_profile{position:relative}
.pd_head_profile a{color:#333;display:flex;align-items:center}
.pdrm{margin:0 0 0 5px;padding:0}
.pdrm li{display:inline-block;position:relative}
.pdrm li>a{width:40px;height:40px;border-radius:50%;color:#2c99cb;display:flex;position:relative;justify-content:center;align-items:center;background-color:rgba(44,153,203,.16);transition:all ease-in-out .3s}
.pdrm li a.dot::before{width:6px;height:6px;position:absolute;top:8px;right:8px;background-color:#ff6c66;content:'';border-radius:50%;box-shadow:0 2px 6px rgba(0,0,0,.3);}
.pdrm li>a:hover{background-color:rgba(44,153,203,.3)}
.pdh_user_name{display:flex;justify-content:flex-end;gap:10px;align-items:center;margin-right:5px}
div#pdNotify, div#pdNotify_n{box-shadow:0 10px 20px rgba(0,0,0,.16);position:absolute;font-size:12px;line-height:20px;width:300px;background:#ffff;border:solid 1px #f5f5f5;padding:0;border-radius:4px;top:55px;z-index:99;right:0}
div#showprofiledw{box-shadow:0 10px 20px rgba(0,0,0,.16);border:solid 1px #f5f5f5}
.notify_drop{margin:0;padding:0}
.notify_drop .notify-drop-title{border-bottom:1px solid #e2e2e2;padding:5px 15px 10px 15px}
.notify_drop .drop-content{min-height:280px;max-height:280px;overflow-y:scroll}
.notify_drop .drop-content::-webkit-scrollbar-track{background-color:#f5f5f5}
.notify_drop .drop-content::-webkit-scrollbar{width:8px;background-color:#f5f5f5}
.noti_person_img{margin-right:15px}
.noti_person_img img{width:40px;height:40px;border-radius:50%;object-position:center;object-fit:cover}
.notify_drop .notify-drop-footer{border-top:1px solid #e2e2e2;bottom:0;position:relative;padding:8px 15px}
.notify_drop .notify-drop-footer a{color:#2c99cb;text-decoration:none;font-size:13px}
.notify_drop .notify-drop-footer a:hover{color:#ff6c66}
.notify_drop .list-group{border-radius:0}
.notify_drop .list-group-item{border-left:0;border-right:0;border-top:0}
.mbl_search{border:none;border-radius:30px;width:40px;height:40px;background-color:transparent}
.head_serach{display:flex;align-items:center;background-color:#f5f5f5;border-radius:30px;position:relative}
.head_serach .form-inline .form-control{background-color:transparent;border:none;border-radius:30px}
.head_serach .form-inline .form-control:focus{box-shadow:none}
button:focus{outline:0!important}
@media only screen and (max-width:992px){
.head_mid .navbar-nav .nav-item .nav-link{width:60px;height:64px;justify-content:center;position:relative;display:flex;align-items:center;padding:0;cursor:pointer}
}
.what_in_mind button{position:relative;border:none;height:50px;margin-bottom:15px;border-radius:10px;text-align:left;text-indent:5px}
.what_in_mind button::before{width:2px;background-color:#2c99cb;content:'';left:0;top:50%;height:30px;position:absolute;margin-top:-15px;border-radius:0 2px 2px 0}
.social_postings{display:flex;justify-content:space-between;align-items:flex-start;flex-wrap:wrap}
.social_postings .left_side_menu{max-width:300px;width:100%}
.social_postings .rigt_sidebar{max-width:300px;width:100%}
.mid_wrap{margin:0 auto;width:100%;max-width:735px}
.post_setting .dots_btn{background-color:transparent;border:none;width:30px;height:30px;border-radius:50%;transition:all ease .3s}
.post_setting .dots_btn:hover{background-color:#f5f5f5;border-radius:50%}
.post_setting .dots_btn span{font-size:2rem}
.post_wrap{background-color:#fff;border-radius:8px;box-shadow:0 3px 6px rgba(0,0,0,.16);margin-bottom:15px}
.post_head{display:flex;padding:8px 15px;justify-content:space-between;align-items:flex-start}
.post_by{display:flex;justify-content:flex-start;gap:15px;align-items:center}
.poster_img img{width:40px;height:40px;object-fit:cover;object-position:center;border-radius:50%;font-size:6px;display:flex;background-color:#eee;justify-content:center;align-items:center}
.post_date{font-size:12px;line-height:16px;color:#999}
.post_setting .dropdown-menu{right:0;left:auto!important}
.post_text{padding:0 15px 10px 15px}
.post_text p{margin:0}
.top_three_recent{display:flex;align-items:center;margin-right:5px}
.top_three_recent>div{margin-left:-5px}
.post_likes{display:flex;align-items:center;font-size:12px;width:calc(100% - 135px)}
.post_reactions{padding:8px 15px;display:flex;justify-content:space-between;align-items:flex-start}
.post_status{display:flex;align-items:center;justify-content:flex-end;gap:5px;font-size:12px;width:130px}
.post_s_type{color:#999;margin:0 auto}
.post_s_type span{color:#333;margin-left:3px}
.posting_btn_grp{display:table;width:100%;padding:8px 16px;text-align:center;border-top:1px solid #dedede;border-bottom:1px solid #dedede}
.posting_btn_grp .rec_btn{display:table-cell;width:33%;padding:8px 0px;text-align:center;transition:all ease .3s;font-size:14px}
.posting_btn_grp .rec_btn a{color:#333}
.posting_btn_grp .rec_btn:hover{background-color:#f5f5f5}
.posting_btn_grp .reacted,.posting_btn_grp .rec_btn:hover>*{color:#ff6c66}
.like-btn{position:relative;cursor:pointer;display:block}
.like-btn:hover{text-decoration:none}
.reactions-box{height:44px;width:215px;padding:0;position:absolute;top:-50px;left:-20px;box-shadow:0 4px 10px #ccc,-1px 0 2px #eee;border-radius:44px 44px;display:none;background-color:#fff}
.reaction{list-style-type:none;cursor:pointer;display:inline-block;width:40px;height:40px;position:absolute;top:2px;opacity:0;transform:scale(1,1);transition:opacity .5s ease-in-out 1s,transform .07s ease-in-out 0s,top .07s ease-in-out 0s;background-repeat:no-repeat;background-size:contain;background-position:center center}
.rec_btn:hover .reactions-box{display:block}
.reaction-like{left:10px;transition-delay:0s;background-image:url(../img/smiles/like.svg)}
.reaction-love{left:60px;transition-delay:.05s;background-image:url(../img/smiles/in-love.svg)}
.reaction-sad{left:110px;transition-delay:.1s;background-image:url(../img/smiles/crying.svg)}
.reaction-angry{left:160px;transition-delay:.15s;background-image:url(../img/smiles/angry.svg)}
.like-btn:hover .reaction{opacity:1;animation-name:reaction_delay;animation-duration:.5s}
@keyframes reaction_delay{
0%{width:40px;height:40px;top:5px}
50%{width:48px;height:48px;top:-30px}
100%{width:40px;height:40px;top:8px}
}
.like-btn:hover .reaction-like{animation-delay:0s}
.like-btn:hover .reaction-love{animation-delay:.05s}
.like-btn:hover .reaction-sad{animation-delay:.1s}
.like-btn:hover .reaction-angry{animation-delay:.15s}
.reaction:hover{transform:scale(1.3,1.3);top:2px}
.reaction::before{display:inline-block;color:#fff;text-align:center;line-height:17px;font-size:.7em;width:80%;height:17px;margin-left:10%;background-color:rgba(0,0,0,.6);border-radius:20px;position:absolute;top:-25px;left:0;opacity:0;transition:opacity .2s ease-in-out 0s}
.reaction:hover::before{opacity:1}
.reaction-like::before{content:'Like'}
.reaction-love::before{content:'Love'}
.reaction-sad::before{content:'Sad'}
.reaction-angry::before{content:'Angry'}
.comnt_by{width:40px;margin-right:15px}
.comnt_by img{width:40px;height:40px;border-radius:50%;object-position:center;object-fit:cover;background-color:#fff;padding:2px;box-shadow:0 3px 6px rgba(0,0,0,.16)}
.comnt_field{width:calc(100% - 60px)}
.post_comment{display:flex;align-items:center;padding:8px}
.comnt_field input{background-color:#f5f5f5;height:40px;border-radius:20px;border-color:#f8f8f8}
.story_post {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    gap: 8px;
}
.storiesWrapper .owl-dots{ display: none !important;}
.stories.snapssenger.carousel .story > .item-link{ min-height: 180px; max-height: 180px;}
.story_post .owl-carousel .owl-stage{padding:0}
.story_post .story_item {
    width: 100px;
    height: 180px;
    border-radius: 10px;
}
.story_post .story_item .story_item_box .post_box{width:100%;height:100%;position:relative;border-radius:10px}
.story_post .story_item .story_item_box .post_others{width:100%;height:180px;border-radius:10px;position:relative}
.story_post .story_item .story_item_box .post_others .text_prf{position:absolute;bottom:10px;left:12px;color:#fff;font-family:Poppins;margin-bottom:0}
.story_post .story_item .story_item_box .post_others .prf_dp{box-shadow:0 3px 6px rgba(0,0,0,.16);width:40px;height:40px;border-radius:50%;border:2px solid #fff;position:absolute;top:12px;left:12px}
.story_post .story_item .story_item_box .post_others .prf_dp img{object-position:center;object-fit:cover;width:100%;height:100%;border-radius:50%}
.story_post .story_item .story_item_box .post_others::before{content:'';position:absolute;top:0;width:100%;height:100%;background:rgba(0,0,0,.4);border-radius:10px}
.story_post .story_item .story_item_box .post_box img,.story_post .story_item .story_item_box .post_others img{object-fit:cover;object-position:center;width:100%;height:180px;border-radius:10px 10px 12px 12px}
.story_post .story_item .story_item_box .post_box .create_story{position:absolute;bottom:0;width:100%;background:#fff;height:60px;border-radius:0 0 10px 10px;text-align:center;padding:18px 10px 8px 10px}
.story_post .story_item .story_item_box .post_box .create_story span{width:30px;height:30px;background:#fff;display:flex;align-items:center;justify-content:center;border-radius:50%;position:absolute;top:-16px;left:50%;transform:translateX(-50%)}
.story_post .story_item .story_item_box .post_box .create_story span i{color:#3677e9;font-size:28px}
.story_post .story_item .story_item_box .post_box .create_story p{color:#999;font-size:14px;font-family:Poppins}
.story_post .owl-carousel .owl-dots.disabled,.story_post .owl-carousel .owl-nav.disabled{display:block}
.story_post .owl-carousel .owl-nav button.owl-prev{display:none}
.story_post .owl-carousel .owl-nav button.owl-next{position:absolute;right:0;top:50%;transform:translateY(-50%)}
.search_input .form-group{position:relative}
.search_input .form-group .form-control{padding-left:40px;font-size:15px;font-family:Poppins;padding-top:25px;padding-bottom:25px;border:none;border-radius:10px}
.search_input .form-group::before{position:absolute;content:'';top:19%;width:3px;height:30px;background-color:#2c99cb;border-radius:0 5px 5px 0}
.dash_red_box{position:relative;padding:20px 15px;background:#fff;border-radius:10px;box-shadow:0 3px 6px rgba(0,0,0,.1);margin-bottom:20px}
.dash_red_box::before{content:'';width:5px;height:10px;display:block;background:url(img/dashboard/open_arrow.svg) no-repeat 94%;position:absolute;top:35px;right:20px}
.dash_red_box .first_box{display:flex;align-items:center}
.dash_red_box .first_box span{padding-left:12px;font-family:Poppins;color:#222;font-size:16px;font-weight:500}
.dash_red_box .first_box img{width:40px;height:40px}
.what_in_mind_popup .modal-dialog{max-width:600px}
.crtpost_head{padding:15px;background-color:#f5f5f5;border-radius:10px 10px 0 0;position:relative}
.crtpost_head .close{position:absolute;top:10px;right:15px}
.crtpost_head h5{text-align:center;font-weight:700}
.post_cb .poster_img{background-color:#fff;padding:2px;box-shadow:0 3px 6px rgba(0,0,0,.16);border-radius:50%}
.post_type{padding:15px}
.post_type textarea{width:100%;border:none;padding:8px}
.add_to_post{padding:8px;border:1px solid #dedede;display:flex;justify-content:space-between;align-items:center;transition:all ease .3s;border-radius:4px}
.add_to_post:hover{box-shadow:0 3px 6px rgba(0,0,0,.16)}
.add_btns_grp a{margin:5px}
.crtpost_footer{padding:30px 15px;background-color:#f5f5f5;border-radius:0 0 10px 10px}
.crtpost_footer ul{margin:0;padding:0;display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap}
.crtpost_footer li a{color:#333;transition:ease all .3s;font-size:13px}
.crtpost_footer li a i{color:#ff6c66;margin-right:5px;font-size:15px}
.crtpost_footer li a:hover{color:#ff6c66}
.cstry_preview_area,.cstry_sidebar{min-height:calc(100vh - 180px);position:relative}
.pick_color li{display:inline-block}
.pick_color li a{transition:all ease .1s;width:30px;height:30px;border-radius:50%;border:0 solid #f5f5f5;display:block;margin:5px;box-shadow:0 3px 6px rgba(44,153,203,.16)}
.pick_color li a.active,.pick_color li a:focus,.pick_color li a:hover{outline:4px solid #2c99cb}
.sbc_one{background-image:linear-gradient(45deg,#fca95a,#a2557c,#47009d)}
.sbc_two{background-image:linear-gradient(353deg,#f25245,#831c50)}
.sbc_three{background-image:linear-gradient(90deg,#f372d1 0,#2c13f1 100%)}
.sbc_four{background-image:linear-gradient(90deg,#3e1971,#4869ce)}
.stry_pre_bg{background-color:#222;display:flex;height:100%;min-height:calc(100vh - 240px);justify-content:center;align-items:center;flex-direction:column;padding:12px}
.stry_box{width:100%;max-width:250px;border-radius:20px;min-height:350px}
.stry_text_result{display:flex;height:100%;justify-content:center;align-items:center;min-height:350px;color:#fff;padding:15px;text-align:center;font-size:18px;line-height:34px;word-break:break-all}
.cstry_sidebar .close_btn>span{font-size:18px;background-color:#ddeff7;color:#2c99cb;padding:6px 9px;border-radius:50%}
.cstry_preview_area.create_story .stry_pre_bg{background-color:transparent;flex-direction:row}
.cstry_preview_area.create_story .stry_box{margin-right:18px;cursor:pointer;height:350px}
.cstry_preview_area.create_story .stry_box .stry_text_result{flex-direction:column}
.cstry_preview_area.create_story .stry_box .stry_text_result>i{background:#fff;color:#212529;width:40px;height:40px;display:flex;justify-content:center;align-items:center;border-radius:50%;font-style:inherit}
.cstry_preview_area.create_story .stry_box .stry_text_result>img{height:100%;width:100%;min-height:350px;object-fit:cover;object-position:center}
.cstry_preview_area.photo_story .stry_text_result{padding:0;height:350px}
.post_comment_block{padding:15px 10px}
.post_comment_block .media{margin-bottom:5px}
.post_comment_block .media .poster_img{margin-right:10px}
.post_comment_block .media .media-body p{background-color:#f5f5f5;border-radius:10px;margin-bottom:5px;padding:10px 15px;border-color:#f8f8f8;display:inline-block;font-size:13px}
.crtpost_body .media{border-top:1px solid #dedede;padding:5px;align-items:center}
.crtpost_body .media:first-child{border-top:none}
.crtpost_body .media .poster_img{margin-right:10px}
.liker_list{margin:0;padding:0;max-height:450px;min-height:450px;overflow-y:scroll}
.liker_list::-webkit-scrollbar{display:none}
.liker_list{-ms-overflow-style:none;scrollbar-width:none}
.liker_list li{display:flex;align-items:center;justify-content:space-between;padding:10px 8px;border-top:1px solid #dedede;transition:all ease .3s}
.liker_list li:hover{background-color:#f5f5f5}
.liker_list li:first-child{border-top:0 solid #dedede}
.liker_list li img.liker_img{width:40px;height:40px;object-fit:cover;object-position:center;border-radius:50%}
.lkr_info{display:flex;align-items:center}
.lkr_img_box{position:relative;width:40px;height:40px;margin-right:15px}
.lkr_rection_icon{position:absolute;right:-5px;bottom:0}
.lkr_rection_icon img{width:20px;height:20px;object-fit:cover;object-position:center;border:2px solid #fff;border-radius:50%;box-shadow:0 3px 6px rgba(0,0,0,.16)}
.likes_popup .modal-header{padding:.5rem .5rem 0 .5rem;background-color:#f5f5f5;border-bottom:1px solid #dedede;padding-bottom:0rem}
.modal-header .nav-pills .nav-link{border-bottom:2px solid transparent;color:#333;border-radius:0;padding:.5rem .5rem}
.modal-header .nav-pills .nav-link.active,.modal-header .nav-pills .show>.nav-link{color:#2c99cb;background-color:transparent;border-color:#2c99cb}
.modal-header .nav-pills .nav-link img{width:20px;height:20px;object-fit:cover;object-position:center;border:2px solid #fff;border-radius:50%;box-shadow:0 3px 6px rgba(0,0,0,.16);margin-right:5px}
.side_menu_mobile{display:none}
.head_lft #headSearch.collapse:not(.show),.left_side_menu.collapse:not(.show){display:block}
@media screen and (max-width:1370px){
    .supperter_mid_wrap .supporters_sec .cards_wrapper .card {
    width: 24%;
    max-width: 175px;
}
}
@media only screen and (max-width:1366px){
.social_postings .mid_wrap{max-width:650px}
.social_postings .left_side_menu,.social_postings .rigt_sidebar{max-width:270px}
}
@media only screen and (max-width:1280px){
.social_postings .mid_wrap{max-width:600px}
.social_postings .left_side_menu,.social_postings .rigt_sidebar{max-width:250px}
}
@media only screen and (max-width:1100px){
.head_serach .form-inline .form-control{width:200px}
.head_lft #headSearch.collapse:not(.show){display:none}
.head_serach{position:absolute;left:50px;z-index:98;box-shadow:0 3px 6px rgba(0,0,0,.16)}
.head_lft{width:100px}
}
@media only screen and (max-width:962px){
.main-dashboard{margin-top:90px!important}
.pd_header{height:auto}
.head_rgt .pdh_user_name{display:none}
.head_rgt .pdh_profile_pic{margin-right:3px}
.head_mid{order:3;width:100%}
.head_lft{order:1}
.head_rgt{order:2}
.social_postings .rigt_sidebar{max-width:600px!important;width:100%;margin:10px auto}
.social_postings{flex-direction:column}
.side_menu_mobile{display:block}
.left_side_menu.collapse:not(.show){display:none}
.left-nav{height:calc(100vh - 90px);overflow-y:scroll}
.left_side_menu{position:fixed;top:100px;left:0;width:75%;height:100%;z-index:99;background-color:#fff;box-shadow:0 10px 20px rgba(0,0,0,.16)}
.left_side_menu.collapsing{left:-75%;transition:height 0s ease}
.left_side_menu.show{left:0;transition:left .3s ease-in-out}
.navbar-toggler.collapsed~.left_side_menu{transition:left .5s ease-in-out}
.supperter_mid_wrap .supporters_sec .cards_wrapper .card {
    width: 33%;
}
}
@media only screen and (max-width:768px){
    .filters_wrapper{ margin-bottom:15px;}
.filters_wrapper .data-list-filters {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 49%;
    padding: 0;
    margin-bottom: 8px;
}
.social_postings .create_story_wrap{ margin-top:30px !important;}
.create_story_wrap .row .col-md-3{ order:2; max-width:100%;flex: 0 0 100%;}
.create_story_wrap .row .col-md-9{ order:1; max-width:100%;flex: 0 0 100%; margin-bottom:15px;}
.cstry_preview_area, .cstry_sidebar,
.stry_pre_bg { min-height: initial; padding:0px;}

}
@media only screen and (max-width:767px){
.modal-dialog .modal-content{min-width:auto !important;}
.pv_info {
    flex-direction: column;
}
.pv_info .pv_info_box {
    margin-right: 0px;
    margin-bottom: 15px;
}
.to-scroll-outer {
    height: 500px;
    margin-top: 15px;
}
.main-center-data .block-area {
    background: #fff;
    margin: 0;
    padding: 0;
}
.col > .col-md-12{ margin:0; padding:0;}
#supporters .owl-nav, #youMayKnow .owl-nav {
    justify-content: center;
    top: 0%;
}
#supporters .owl-nav button, #youMayKnow .owl-nav button {
    pointer-events: all;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    margin: 10px;
}
.supporters_sec .cards_wrapper .card .img_wrapper img {
    height: 115px;
    object-fit: cover;
    object-position: center;
}
.supperter_mid_wrap .supporters_sec .owl-carousel  {
    margin: 30px auto;
}
.supperter_mid_wrap .supporters_sec .cards_wrapper .card {
    margin: 0 auto 10px auto;width: 100%;
max-width: 250px; 
}
}
@media only screen and (max-width:568px){
 .cstry_preview_area.create_story .stry_pre_bg {
    flex-direction: column;
}   
.cstry_preview_area.create_story .stry_box {
    margin-right: 0px;
    cursor: pointer;
    height: auto;
    min-height: 200px;
    width: 100%;
    max-width: initial; margin-bottom:15px;
}
.cstry_preview_area.create_story .stry_box .stry_text_result {
    min-height: 200px;
}
    .supperter_mid_wrap .supporters_sec .cards_wrapper .owl-stage .card {
    margin:0 5px; width:97%;
}
.supperter_mid_wrap .supporters_sec .cards_wrapper{justify-content: center;}
.supperter_mid_wrap .supporters_sec .cards_wrapper .card {
    margin:5px; width:47%;
}
#patients_data .pd-20-30{ padding:15px;}
.pv_title {
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.my-subscriptions .active-subs,.my-subscriptions .inactive,.my-subscriptions .expired {
    float: left;
}
.my-subscriptions .inactive::before,.my-subscriptions .active-subs::before,.my-subscriptions .expired::before {
    top: 8px;
    margin-left: 10px;
    margin-right:auto;
    left: 100%;
    position: absolute;
}
}
@media only screen and (max-width:480px){
.post_wrap .post_body .post_imgs{flex-wrap:nowrap}
.head_mid .navbar-nav .nav-item .nav-link{width:54px;}
.filters_wrapper .data-list-filters {
    flex-direction: column;
    width: 100%;
}
}
@media only screen and (max-width:375px){
.head_mid .navbar-nav .nav-item .nav-link{width:45px}

}
.story_corner{height:100%;border-radius:10px;padding:8px;color:#fff;overflow:hidden;font-size:14px}

/* Sidebar modification */
.social_postings .profile_sec {
	padding-bottom: 18px;
	border-bottom: 1px solid #F3F7FA;
}
/*.social_postings .left-nav{
	overflow: hidden
}*/
.social_postings .profile_sec .texture {
	height: 100px;
	background-color: #ff6c66;
	background-image: url(./../img/texture.png);
	background-size: cover;
	position: relative;
}
.social_postings .profile_sec .texture .profile_pic{
	width: 80px;
    height: 80px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ff6c66;
    border-radius: 50%;
    overflow: hidden;
}
.social_postings .profile_sec .texture .profile_pic img {
	object-fit: cover;
    width: 100%;
    height: 100%;
}
.social_postings .profile_sec .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
}
.social_postings .profile_sec .options>.followers>p {
	font-size: 14px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	color: #464646;
	margin-bottom: -8px;
}
.social_postings .profile_sec .options>.followers>span {
	font-size: 12px;
	font-family: Lato, sans-serif;
	font-weight: 400;
	color: #999999;
}
.social_postings .profile_sec .info_box {
    margin-top: 16px;
}
.social_postings .profile_sec .info_box .name {
	font-size: 16px;
	font-weight: 600;
	color: 222222;
}
.social_postings .profile_sec .info_box .designation {
	font-size: 12px;
	color: #999999;
}