*{font-family:Lato,sans-serif}
a{text-decoration:none!important}
body{background:#f3f7fa}
.mt-30{margin-top:30px}
.mt-15{margin-top:15px}
li{list-style:none}
.pb-70{padding-bottom:70px}
.custom-navbar{height:70px;line-height:70px;padding:0;border-bottom:solid 1px #dedede;background:#fff}
.custom-navbar a.navbar-brand img{width:31px;height:29px}
.custom-navbar a.navbar-brand{padding:0;margin:0;height:auto;margin-right:20px}
.custom-navbar form.form-inline{width:300px;height:40px;position:relative}
.custom-navbar form.form-inline input.form-control{width:100%;height:100%;background:#f3f7fa;border-radius:5px;border-color:#f3f7fa;font-size:14px;font-weight:400;padding-left:50px}
.custom-navbar form.form-inline button{border:0;padding:0;margin:0!important;height:auto;width:15px;position:absolute;top:8px;left:15px}
.custom-navbar ul.navbar-nav a.nav-link{padding:0 10px;height:100%;line-height:normal;font-size:14px;color:#999;font-weight:400;line-height:40px;position:relative;transition:.3s!important}
.custom-navbar ul.navbar-nav a.nav-link::before{position:absolute;content:'';height:3px;width:100%;display:block;background:0 0;bottom:-15px;left:55%;transform:translateX(-50%)}
.custom-navbar ul.navbar-nav a.nav-link:hover::before{background:#2c99cb}
.custom-navbar ul.navbar-nav li.active a.nav-link::before{background:#2c99cb}
.custom-navbar ul.navbar-nav li.active a.nav-link{color:#222}
.custom-navbar ul.navbar-nav{height:40px}
.custom-navbar a.profile-icon-dropdown{display:flex;overflow:hidden;height:40px;align-items:center;font-size:14px;color:#222;position:relative;padding-right:20px}
.custom-navbar a.profile-icon-dropdown::after{content:'';width:10px;height:5px;background:url(../img/arrow-down.svg);display:block;background-size:94%;background-repeat:no-repeat;position:absolute;right:0}
.custom-navbar a.profile-icon-dropdown img{height:40px;vertical-align:0;width:40px;border-radius:100%;margin-right:10px}
.custom-navbar ul.navbar-nav a.nav-link img{margin-right:10px}
.custom-navbar ul.navbar-nav li+li{margin-left:30px;position:relative}
div#showprofiledw{position:absolute;font-size:12px;line-height:20px;width:200px;background:#ffff;border:solid 1px #ccc;padding:9px;border-radius:4px;top:55px;z-index:99;right:0}
div#showprofiledw li a{color:#222;padding:10px;display:block;transition:.3s!important}
div#showprofiledw li a img{margin-right:8px;width:15px}
div#showprofiledw li{margin:0 -10px}
div#showprofiledw li a:hover{background:#e9f5fa;color:#469acb}
.show-user-mobile{display:none}
.left-nav{background:#fff;padding:20px 0;border-radius:10px;height:100%}
.left-nav ul li a{padding:15px 30px;display:block;color:#222;font-size:14px;transition:.3s!important;border-left:solid 4px transparent}
.left-nav ul li a:hover{background:rgb(44 153 203 / .1);border-left:solid 4px #2c99cb;color:#2c99cb}
.left-nav ul li a img{margin-right:10px}
.left-nav ul li a.active{background:rgb(44 153 203 / .1);border-left:solid 4px #2c99cb;color:#2c99cb}
.left-nav ul li a span.notification-no{color:#2c99cb;font-size:14px;float:right}
.left-nav h4{font-size:13px;color:#999;padding:0 30px;padding-top:15px}
.display-username{font-size:24px}
.main-center-data form .form-group input{width:100%;height:50px;padding:15px;color:#999;border-radius:10px;border:0}
.show-left-border{position:relative}
.show-left-border::before{content:'';width:2px;height:30px;display:block;background:#2c99cb;border-top-right-radius:5px;border-bottom-right-radius:5px;position:absolute;top:10px}
.main-center-data a{display:block}
.show-section-details{background:#fff;border-radius:10px;padding:20px 15px;position:relative;border:solid 1px #fff;transition:.3s!important}
.show-section-details:hover{border:solid 1px #2c99cb;box-shadow:0 2px 6px rgb(0 0 0 / .1);transform:translateY(-2px)}
.main-headings{font-size:16px;margin-top:20px;color:#222;line-height:26px}
.show-section-details::before{content:'';width:5px;height:10px;display:block;background:url(../img/arrow-left.svg) no-repeat 94%;position:absolute;top:30px;right:20px}
.doctor-outer-block{background:#fff;border-radius:10px;padding:20px 15px;position:relative;border:solid 1px #fff;transition:.3s!important}
.doctor-outer-block:hover{border:solid 1px #2c99cb;box-shadow:0 2px 6px rgb(0 0 0 / .1);transform:translateY(-2px)}
.doctor-outer-block img{height:40px;width:40px;border-radius:100%}
.short-description{font-size:12px;color:#ababab;line-height:18px}
.chat-messages img{height:auto;width:auto;border-radius:inherit;margin-right:10px}
.chat-messages{color:#ff6c66}
.click-action a{background:rgb(44 153 203 / .1);color:#222;font-weight:600;text-align:center;padding:10px 0;border-radius:5px;font-size:12px;transition:.3s!important}
.click-action a:hover{background:#2c99cb;color:#fff}
.gree-bg{background:#4e796e}
.gree-bg .main-headings{color:#fff}
.gree-bg .click-action a{background:#ff6c66;color:#fff;transition:.3s!important}
.gree-bg .click-action a:hover{background:#fff;color:#222}
.gree-bg .short-description{color:#dedede}
.blog-stories ul li a{display:flex;align-items:center;transition:.3s!important}
.blog-stories ul li a:hover{padding-left:10px}
.blog-extract{margin-left:15px}
.blog-heading{font-size:14px;color:#222;font-weight:600}
.blog-stories{background:#fff;padding:20px;border-radius:10px}
.see-all a{font-size:13px;color:#2c99cb;border-bottom:solid 2px transparent;transition:.3s!important}
.see-all a:hover{border-bottom:solid 2px #2c99cb}
.see-all a img{margin-left:5px;vertical-align:-.5px}
.pd-20-30{padding:20px 30px}
.round-crn{border-radius:10px}
.informative-block h4{font-size:18px}
.informative-block{position:relative}
.edit-details{position:absolute;top:20px;right:30px;cursor:pointer}
.label-mute{font-size:14px;color:#999}
.informative-block table{font-size:14px}
.informative-block table tr+tr td{padding-top:10px}
.informative-block table tr td+td{padding-left:20px}
.hover-effect-box{transition:.3s!important;border:solid 1px transparent}
.hover-effect-box:hover{box-shadow:0 2px 6px rgb(0 0 0 / .1)}
.custom-switch .custom-control-label::after{background:#2c99cb;top:8px;left:-30px}
.custom-control-label::before{background:#fff;border-color:rgb(44 153 203 / .1);height:20px;width:40px!important;border-radius:10px!important}
.custom-control-input:checked~.custom-control-label::before{background-color:rgb(44 153 203 / .1);border-color:rgb(44 153 203 / .1)}
.custom-switch .custom-control-input:checked~.custom-control-label::after{background-color:#2c99cb;left:-26px}
.stwich-toggle{position:absolute;top:20px;right:30px}
.note{font-size:12px;line-height:20px}
.bg-white{background:#fff}
.status-box ul li:nth-child(2)::before{content:'';height:1px;width:250px;display:block;position:absolute;background:#2c99cb;left:-265px;top:50%;transform:translateY(-50%)}
.status-box ul li:nth-child(2)::after{content:'';height:1px;width:250px;display:block;position:absolute;background:#dedede;right:-265px;top:50%;transform:translateY(-50%)}
.status-box ul li{display:inline-block;font-size:12px;color:#2c99cb;position:relative}
.status-box ul{display:flex;justify-content:space-between}
.status-box ul li:last-child{color:#999}
.status-box ul.completed-status li:nth-child(2)::after{background:#2c99cb}
.status-box ul.completed-status li:last-child{color:#2c99cb}
.status-box h4{font-size:18px}
.provider-and-treatment{display:flex;align-items:center}
.provider-and-treatment>div{min-height:108px}
.provider-and-treatment>div+div{margin-left:60px}
.provider-details{font-size:14px;color:#222}
.provider-details img{margin-right:15px}
.provider-details img.thumb{height:50px;width:50px;vertical-align:0;border-radius:100%}
.looking-for-outer>div::after{content:'';display:block;position:absolute;height:180px;width:110px;border-radius:100%;top:-10px;right:-70px}
.looking-for-outer{display:flex;justify-content:space-between}
.looking-for-outer>div{width:48%;position:relative;overflow:hidden;padding:20px 15px}
.looking-for-outer>div span{font-size:12px;color:#fff}
.looking-for-outer>div h4{font-size:18px;font-weight:700;color:#fff}
.looking-for-outer>div .see-all{display:inline-block}
.looking-for-outer>div:first-child{background:#2d476e}
.looking-for-outer>div:last-child{background:#4a4a8e}
.looking-for-outer>div:last-child::after{background:#3b3b8e}
.looking-for-outer>div:first-child::after{background:#4d678d}
.custom-pagination{margin-top:30px}
.custom-pagination .pagination{justify-content:center}
.custom-pagination .pagination .page-link{font-size:14px}
.custom-pagination .pagination .page-link:hover{background:rgb(44 153 203 / .1);border-color:rgb(44 153 203 / .1)}
.heading-and-upgrade-button{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap}
.theme-btn{font-size:15px;background:#ff6c66;color:#fff!important;display:inline-block;padding:10px 30px;border-radius:50px;font-weight:600;transition:.3s!important}
.theme-btn:hover{background:#ff524b}
.inactive{color:#fd8a82;font-size:12px;font-weight:500;float:right;position:relative}
.inactive::before{content:'';width:100px;height:1px;background:#ee9696;display:inline-block;vertical-align:4px;margin-right:10px}
.expired{color:#999;font-size:12px;font-weight:500;float:right;position:relative}
.expired::before{content:'';width:100px;height:1px;background:#dedede;display:inline-block;vertical-align:4px;margin-right:10px}
.active-subs{color:#59dfc4;font-size:12px;font-weight:500;float:right;position:relative}
.active-subs::before{content:'';width:100px;height:1px;background:#59dfc4;display:inline-block;vertical-align:4px;margin-right:10px}
.theme-color{color:#ff6c66}
.subs-price-value>span{font-size:12px;text-align:right;color:#000;font-weight:500}
.my-subscriptions ul{margin:0;margin-top:15px}
.my-subscriptions ul li{display:inline-block;font-size:12px;position:relative}
.my-subscriptions ul li b{color:#656565}
.my-subscriptions ul li+li{margin-left:15px;padding-left:15px;border-left:solid 1px #b7b7b7}
.to-scroll-outer{height:491px;overflow-y:scroll;padding-right:10px}
.to-scroll-outer::-webkit-scrollbar{width:10px}
.to-scroll-outer::-webkit-scrollbar-track{background:#e4e4e4;border-radius:16px}
.to-scroll-outer::-webkit-scrollbar-thumb{background:#fff;border-radius:4px}
.subs-price{text-align:right;position:absolute;right:30px;bottom:20px;font-size:20px}
.product-details{display:flex;flex-wrap:wrap}
.product-main-cnt{padding-left:15px}
.product-main-cnt h6{font-size:12px;color:#222}
.includes-with-tagname{font-size:10px;padding-top:10px}
.includes-with-tagname span{color:#1682a4}
.show-mob{display:none!important}
.seprator{border-top:solid 1px #afaaaa;height:1px;margin-top:10px}
.new-look-order-cnt{display:flex;flex-wrap:wrap}
.order-product-pricing{margin-left:30px}
.my-orders .theme-btn{position:absolute;right:30px;top:50%;transform:translateY(-50%)}
.border-radius-100{border-radius:100%;padding:0;height:49px;width:49px;text-align:center;line-height:49px}
.visit_overview .pateint_style span{font-size:12px;text-transform:uppercase;color:#2ca6da}
.visit_overview .cleint-box .pateint_details{display:flex;flex-wrap:wrap;justify-content:space-between}
.visit_overview .cleint-box .pateint_details .user_left{display:flex;justify-content:space-between;width:100%;max-width:210px}
.visit_overview .cleint-box .pateint_details .user_left .user_pic{margin-top:15px}
.visit_overview .cleint-box .pateint_details .user_left .user_pic img{object-fit:cover;object-position:center;width:50px;height:50px;border-radius:50%}
.visit_overview .cleint-box .prescription_name .treatment_details .provider_img .user_pic img{object-fit:cover;object-position:center;width:50px;height:50px;border-radius:50%}
.visit_overview .cleint-box .pateint_details .user_left .user_name h4{font-size:18px}
.visit_overview .cleint-box .pateint_details .user_left .user_name .gender_list li{display:inline;font-size:14px;color:#9b9b9b}
.visit_overview .cleint-box .pateint_details .user_left .user_name .gender_list li+li::before{padding:8px;color:#9b9b9b;content:"|\00a0"}
.visit_overview .cleint-box .pateint_details .contact_details .con_no i{color:#ff6c66;font-size:20px}
.visit_overview .cleint-box .pateint_details .contact_details .con_no span{color:#60b2d7;padding-left:8px}
.visit_overview .cleint-box .prescription_name{display:flex;flex-wrap:wrap}
.visit_overview .cleint-box .prescription_name .treatment_details span{text-transform:uppercase;font-size:12px;color:#a3a3a3}
.visit_overview .cleint-box .prescription_name .treatment_details h4{font-size:18px;font-weight:600}
.visit_overview .cleint-box .prescription_name .treatment_details .provider_img .user_name p,.visit_overview .cleint-box .prescription_name .treatment_details p{font-size:16px}
.visit_overview .cleint-box .prescription_name .treatment_details .provider_img .user_name,.visit_overview .cleint-box .prescription_name .treatment_details .provider_img .user_pic{display:inline-block}
.visit_overview .cleint-box .question_ans .ans_right,.visit_overview .cleint-box .question_ans .ques_sub{width:100%;max-width:48%;min-width:200px}
.rmd_dashboard_ques{height:527px;overflow-y:scroll}
.visit_overview .cleint-box .prescription_name .prescription_user{margin-left:150px}
.visit_overview .cleint-box .question_ans .rmd_head{display:flex;flex-wrap:wrap;justify-content:space-between}
.visit_overview .cleint-box .question_ans .rmd_ques{border-bottom:1px solid #dedede;padding-top:20px;display:flex;flex-wrap:wrap;justify-content:space-between}
.visit_overview .cleint-box .question_ans .ques_head .ans_right span,.visit_overview .cleint-box .question_ans .ques_head .ques_sub span{text-transform:uppercase;font-size:12px;color:#a3a3a3}
.visit_overview .cleint-box .question_ans .ques_head .ans_right,visit_overview .cleint-box .question_ans .ques_head .ques_sub{margin-bottom:10px}
.visit_overview .cleint-box .question_ans .ques_sub h4{font-size:16px;line-height:24px;font-weight:600}
.visit_overview .cleint-box .question_ans .ans_right p{font-size:14px}
.visit_overview .cleint-box .question_ans .ans_right p,.visit_overview .cleint-box .question_ans .ques_sub h4{margin-bottom:6px}
a.rmd_blue_button{padding:10px 40px;background-color:#dedede;display:inline-block;border-radius:10px;color:#2d2d2d}
a.rmd_blue_button:hover{background-color:#2c99cb;color:#fff}
::-webkit-scrollbar{width:4px}
.rmd_dashboard_ques::-webkit-scrollbar-track{box-shadow:inset 0 0 2px #999898;border-radius:0 10px 10px 0}
.rmd_dashboard_ques::-webkit-scrollbar-thumb{background:#ff6c66;border-radius:0 10px 10px 0}
.provider_box{width:100%;height:700px;overflow-y:scroll;flex-wrap:wrap}
.provider_box .pro_online{position:relative}
.pro_online::before{content:"Online";position:absolute;right:8px;top:5px;font-size:10px;background-color:#4caf50;padding:1px 5px;border-radius:3px;color:#fff;box-shadow:0 3px 6px rgb(0 0 0 / 16%)}
.provider_box .cleint-box.select_provider{width:100%;max-width:32%;height:150px;margin-left:10px;display:inline-block}
.provider_box::-webkit-scrollbar{width:4px}
.provider_box::-webkit-scrollbar-track{box-shadow:inset 0 0 2px #999898;border-radius:10px}
.provider_box::-webkit-scrollbar-thumb{background:#ff6c66;border-radius:10px}
.provider_display{display:flex;justify-content:space-between;margin-bottom:10px}
.provider_display .form_group{position:relative}
.provider_display .form_group i{position:absolute;color:#999;bottom:12px;left:12px}
.provider_display .form_group .form-control{border-style:none;border-radius:5px;color:#999;padding-left:40px}
.provider_display .form_group .form-control::placeholder{color:#999}
.provider_left{display:flex;max-width:273px;width:100%;align-items:center}
.provider_left .user_pic{width:80px;height:80px}
.provider_left .user_pic img{object-fit:cover;object-position:center;width:80px;height:80px;border-radius:50%}
.provider_left .user_name h4{font-size:18px;color:#222}
.provider_left .user_name p{font-size:16px;color:#ababab;margin-bottom:0;font-weight:400}
.user_name{margin-left:25px}
.cleint-box{cursor:pointer}
.review_details .con_no .checked{color:#ffdc64}
.review_details .con_no{margin-bottom:18px}
.review_details .con_no span{color:#e9e9e9}
.review_details .review_cmt span{color:#aea8a8}


.my-selection{margin:30px auto;width:100%;text-align:center}
.my-selection p{font-size:18px;font-weight:500;line-height:14px}
.fc-content{font-size:.85em}
.block-area{background:#fff;margin:10px;padding:10px}
.data-list-filters .filter_heading{font-size:.75rem;color:#999;display:inline-block;text-transform:uppercase}
.data-list-filters{padding:8px;flex:1 1 0}
#calendar .fc-toolbar h2{font-size:1.5em!important}
.data-list-filters .dates .half-date{display:inline-block;width:33%}
.data-list-filters .dates{display:table;width:100%}
.filters_wrapper{display:flex;margin-bottom:30px;padding:8px;gap:5px;flex-wrap:wrap;background-color:#e9f5fa;border-radius:10px}
.data-list-filters .select2-container .select2-dropdown{border-radius:4px;border:none;box-shadow:0 4px 12px rgb(0 0 0 / 16%)}
.data-list-filters .select2-container .select2-dropdown .select2-results__option{padding:5px 10px;font-size:12px}
.data-list-filters .select2-container .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color:#2c99cb;color:#fff}
.data-list-filters .dates>input{display:table-cell;width:49%;font-size:12px;height:28px;border:1px solid #fff;border-radius:4px;padding-left:6px;margin:0 1px}
.data-list-filters .select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #fff;border-radius:4px;font-size:13px}
.data-list-filters .select2-results__option{padding:5px;font-size:12px}
button.btn.btn-small{height:18px;font-size:12px;line-height:4px;margin:12px 2px;text-align:center}
span.detail-heading{padding-right:15px}
#myModal textarea#remarks{width:80%;padding:5px}
#myModal .remarks{margin-top:20px;margin-bottom:20px}
.add_note_area{margin-top:15px;margin-bottom:15px}
.add_note_area textarea#add_note{padding:8px}
.action_show{display:block!important}
.action_hide{display:none!important}
.pv_box{padding:15px;margin-bottom:10px}
.pv_title{display:flex;justify-content:space-between;align-items:flex-start;border-bottom:1px dashed #dedede;flex-wrap:wrap;padding-bottom:10px}
.pv_info{display:flex;align-items:flex-start;gap:10px;flex-wrap:wrap}
.pv_info_box{margin-right:20px}
.pv_date{font-size:12px;padding:5px 0;color:#777}
.pv_img{width:50px;margin-right:10px;display:inline-block}
.pv_img img{width:50px;height:50px;object-fit:cover;border-radius:50%;border:3px solid #ff6c66}
.pv_signal{color:#eee;display:inline-block;margin-right:15px;cursor:pointer}
.imp_visit{color:#ffc107}
.provider-details .appointment_status{display:block}
span.value_username{font-size:14px;display:inline-block;margin-left:0}
.pv_t h4{margin-bottom:5px}
.pv_treat_box{display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap;padding-top:10px}
#feedbackForm .rate{display:inline-block;border:0;margin-bottom:-1.5em}
#feedbackForm .rate>input{display:none}
#feedbackForm .rate>label{float:right}
#feedbackForm .rate>label:before{display:inline-block;font-size:2em;padding:.3rem .2rem;margin:0;cursor:pointer;font-family:FontAwesome;content:"\f005 "}
#feedbackForm .rate .half:before{content:"\f089 ";position:absolute;padding-right:0}
#feedbackForm .rate input:checked~label,#feedbackForm .rate label:hover,label:hover~label{color:#ff6c66}
#feedbackForm .rate input:checked+label:hover,#feedbackForm .rate input:checked~label:hover~label,#feedbackForm .rate label:hover~input:checked~label,input:checked~label:hover{color:#ff6c66}
#feedbackForm .rating_label{display:block}
.date .input-group-text{border-left:none;border-radius:0 .25rem .25rem 0}
.prf_box{width:100%;padding:30px 15px;text-align:center;background:#fff;border-radius:10px;position:relative;margin-top:50px;margin-bottom:20px}
.prf_box .prf_img{border-radius:50%;width:90px;height:90px;padding:8px;border:3px solid #ff6c66;display:flex;align-items:center;justify-content:center;position:absolute;top:-47px;left:50%;transform:translateX(-50%)}
.prf_box .prf_img .img_box{width:80px;height:80px}
.prf_box .prf_img .img_box img{width:80px;height:80px;border-radius:50%;object-fit:cover;object-position:center}
.prf_box .three_dot{position:absolute;right:12px;cursor:pointer;top:12px}
.prf_box .name_user{padding-top:30px;padding-bottom:10px}
.prf_box .name_user h5{font-size:20px;font-weight:700;margin-bottom:0}
.prf_box span{font-size:14px;color:#2c99cb}
.prf_box .badge_box{display:flex;align-self:center;justify-content:center;padding:15px 0}
.prf_box .badge_box .nursing_icon{width:50px;height:50px;background:#2c99cb;display:flex;align-items:center;justify-content:center;border-radius:10px}
.prf_box .label_nurse{text-align:left;padding-top:7px;margin-left:12px}
.prf_box .label_nurse .blue_box{margin-bottom:4px}
.prf_box .label_nurse .blue_box span{padding:2px 10px;background-color:#72b1ce;border-radius:10px;font-size:12px;color:#fff}
.prf_box a{padding:8px 14px;display:block;background:#2c99cb;color:#fff;border-radius:25px;transition:all .3s ease}
.prf_box a:hover{background-color:#ff6c66}
.prf_setup{width:100%;background-color:#fff;border-radius:10px;padding:20px 30px}
.prf_setup .setup_details h5{font-size:20px;color:#64656a;font-weight:700}
.prf_setup .setup_details p{font-size:14px;color:#999}
.prf_setup .progress{height:5px}
.prf_setup .progress .progress-bar{background-color:#2c99cb;width:80%}
.prf_setup span{color:#999;font-size:12px}
.prf_setup .op_check{padding:15px 0}
.prf_setup .op_check .form-check .form-check-label{color:#4b4a4a;font-size:16px}
.prf_setup a{text-align:center;font-size:16px;color:#2c99cb;transition:all .3s ease}
.summary_box{width:100%;background:#fff;border-radius:10px;margin-top:50px;margin-bottom:20px;padding:15px 15px}
.credential h5,.summ_box h5,.summary_box h5{font-size:18px;color:#4b4a4a;font-weight:700;padding:15px 0 0 30px}
.summary_box p{font-size:14px;color:#64656a;padding:0 30px}
.credential .edit_op,.summ_box .edit_op,.summary_box .edit_op{padding:8px 30px;text-align:right;border-top:1px solid #e0e0e0;transition:all .3s ease}
.summ_box .edit_op a,.summary_box .edit_op a{color:#2c99cb}
.credential .edit_op a:hover,.prf_setup a:hover,.summ_box .edit_op a:hover,.summary_box .edit_op a:hover{color:#ff6c66}
.credential,.summ_box{width:100%;border-radius:10px;margin-bottom:20px;background-color:#fff}
.summ_box .user_personal{display:flex;align-items:center;padding-bottom:20px;padding-top:12px;padding-left:30px}
.user_personal_text{justify-content:space-around}
.white_box_flex{padding-left:12px}
.white_box_flex_1{padding-left:48px}
.summ_box .white_box{display:flex;align-items:center;width:150px}
.summ_box .white_box i{font-size:22px;color:#2c99cb}
.summ_box .white_box .name_icon{margin-left:16px}
.summ_box .white_box .name_icon p{margin-bottom:0;color:#4b4a4a;font-size:13px;margin-bottom:4px}
.summ_box .white_box .name_icon span{color:#2c99cb;font-size:10px}
.white_box_1{width:100%;max-width:499px;padding:20px 13px;margin-left:27px;display:flex;align-items:center;justify-content:space-between}
.white_box_1 i{font-size:22px;color:#2c99cb}
.white_box_1 .name_icon{width:100%;max-width:431px}
.white_box_1 .name_icon p{font-size:14px}
.white_box_1 .name_icon span{color:#2c99cb;font-size:10px}
.credential{margin-top:20px}
.credential table{padding-left:30px;padding-bottom:12px}
.credential table tr td+td{padding-left:20px}
/*.main-dashboard .nav-tabs{border-bottom:none;position:absolute;top:-10px;left:50%;transform:translateX(-50%)}*/
.main-dashboard .nav-tabs{border-bottom:none;position:absolute;top:-10px;left:40%;transform:translateX(-50%)}
.main-dashboard .nav-tabs .nav-link{color:#4b4a4a}
.main-dashboard .nav-tabs .nav-link.active,.main-dashboard .nav-tabs .nav-link:hover{color:#2c99cb;background-color:transparent;border-color:transparent;border-bottom:2px solid #2c99cb}
a.cls_btn{position:absolute;width:20px;height:20px;background-color:#ef4740;border-radius:50%;right:-10px;color:#fff;top:-10px;cursor:pointer;box-shadow:0 3px 6px rgb(0 0 0 / 30%);display:flex;justify-content:center;align-items:center;font-size:11px}
.demo_pic{width:100%;margin-bottom:20px;border:2px solid #ff6c66;transition:all .3s ease}
.demo_pic:hover img{transform:scale(.8)}
.demo_pic img{width:100%;object-fit:cover;object-position:center;transition:all .3s ease;height:100px;}
#settingModal .modal-dialog{max-width:750px;margin:1.75rem auto}
.prefered_location_text{padding:0 10px;font-size:12px;color:#928b8b;border-bottom:1px #e0dada dotted}
.rmd_freq_ques{display:flex;align-items:center;justify-content:center;height:800px}
.rmd_freq_ques .rmd_box{width:100%;max-width:650px;background-color:#fff;padding:20px 15px;border-radius:10px}
.rmd_freq_ques .rmd_box .ques_slider{padding:20px 5px}
.rmd_freq_ques .rmd_box .ques_slider .ques_box{height:310px;margin-bottom:30px;padding-left:15px;padding-right:15px;padding-top:20px}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel{height:100%}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content{padding:20px;background-color:#f8f9fa;border-radius:5px;height:100%;position:relative}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content .first_box{width:100%;max-width:400px}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content .edit_icon{position:absolute;right:15px;top:15px}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content .first_box td{padding-bottom:10px}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content .first_box .label-mute{font-size:14px;color:#999}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content .first_box .label-ans{padding-left:20px;font-size:14px}
.rmd_freq_ques .rmd_box .ques_slider .ques_box .carousel .carousel-inner .carousel-item .content .first_box .label-ans span{display:block;margin-bottom:8px;font-size:14px}
.rmd_freq_ques .rmd_box .ques_slider .carousel .carousel-indicators li{width:10px;height:10px;border-radius:50%;background-color:#b8b8b8}
.rmd_freq_ques .rmd_box .ques_slider .carousel .carousel-indicators .active{background-color:#ff6c66}
.rmd_freq_ques .con_btn{display:block;padding:10px 30px;background-color:#2c99cb;border-radius:5px;width:100%;max-width:300px;margin:0 auto;margin-bottom:20px;position:relative;display:flex;align-items:center;justify-content:center;color:#fff;font-size:18px;margin-bottom:20px}
.rmd_freq_ques .con_btn i{position:absolute;right:30px}
.rmd_freq_ques .skip_btn{width:100%;max-width:300px;margin:0 auto;color:#6c757d;font-size:18px;display:flex;align-items:center;justify-content:center}
.rmd_freq_ques .con_btn:hover{background-color:#ff6c66}
.rmd_freq_ques .skip_btn:hover{color:#ff6c66}
#profileSummaryModal .modal-dialog{max-width:700px;margin:1.75rem auto}
.ques_box .carousel-inner{display:flex;height:100%}
.ques_box .carousel-indicators{margin-bottom:0}
.ques_box .wel_box{text-align:center;margin:0 auto;display:flex;justify-content:center;flex-direction:column;align-items:center;height:100%}
.ques_box .wel_box h5{color:#222}
.ques_box .wel_box img{margin-bottom:30px}
.ques_box .edit-details{top:10px;right:10px}
.post_wrap .post_body .post_imgs{display:flex;flex-wrap:wrap;overflow:hidden;position:relative}
.post_wrap .post_body .post_imgs a{max-width:50%;overflow:hidden;padding-left:1px}
.post_wrap .post_body .post_imgs a:first-child{padding-left:0}
.post_wrap .post_body .post_imgs a,.post_wrap .post_body .post_imgs img{width:100%;max-height:300px;object-fit:cover;object-position:center;min-width:200px}
.post_wrap .post_body .post_imgs img{height:100%}
.post_wrap .post_body .post_imgs a:nth-child(n+5){display:none}
.post_wrap .post_body .post_imgs .more_imgs_caption{position:absolute;right:0;bottom:0;background:rgba(0,0,0,.5);color:#fff;height:60px;width:120px;text-align:center;padding-top:16px}


/*----media-queries-----*/

@media only screen and (max-width:1199px){
.custom-navbar form.form-inline{width:180px}
.custom-navbar ul.navbar-nav{margin-left:5px!important}
.custom-navbar ul.navbar-nav li+li{margin-left:20px}
.status-box ul li:nth-child(2)::before{width:150px;left:-160px}
.status-box ul li:nth-child(2)::after{width:150px;right:-160px}
.looking-for-outer>div::after{display:none}
.new-look-order-cnt{display:block}
.order-product-pricing{margin-left:0}
}
@media only screen and (max-width:1024px){
.provider_box .cleint-box.select_provider{height:34%}
}
@media only screen and (max-width:991px){
.custom-navbar{padding:0 15px}
.custom-navbar .navbar-toggler{outline:0;padding:0;margin-top:9px;color:#ff6c66;z-index:999}
.custom-navbar .navbar-collapse{z-index:99;background:#fff;overflow:hidden;border:solid 1px #ddd;border-top:0;padding:20px}
.custom-navbar ul.navbar-nav{height:auto;margin-left:0!important}
.custom-navbar ul.navbar-nav a.nav-link{padding:0;position:relative}
.custom-navbar ul.navbar-nav li+li{margin-left:0;margin-top:15px}
.custom-navbar ul.navbar-nav li:last-child{display:none}
.custom-navbar form.form-inline{width:100%}
.custom-navbar ul.navbar-nav li a.nav-link::before{left:0;transform:inherit;bottom:-5px}
.show-user-mobile{display:block;position:relative;margin-left:auto;margin-right:15px}
.left-nav ul li a{padding:15px}
.left-nav h4{padding:0 15px;padding-top:15px}
.main-dashboard>div>.row>.col-md-12+.col-md-12{margin-top:30px}
.main-center-data .row>div+div{margin-top:15px}
.status-box ul li:nth-child(2)::before{display:none}
.status-box ul li:nth-child(2)::after{display:none}
}
@media only screen and (max-width:767px){
.status-box ul{display:block}
.status-box ul li{display:block}
.status-box ul li+li{margin-top:10px}
.looking-for-outer{display:block}
.looking-for-outer>div{width:100%}
.looking-for-outer>div+div{margin-top:15px}
.provider-and-treatment{display:block}
.provider-and-treatment>div+div{margin-left:0;margin-top:20px}
.heading-and-upgrade-button{display:block}
.heading-and-upgrade-button a{margin-top:15px;display:inline-block!important}
.subs-price-value{float:none;margin-top:15px;display:block;text-align:left}
.active-subs,.inactive{margin-bottom:15px}
.active-subs,.expired{margin-bottom:15px}
.subs-price-value>span{text-align:left}
.my-subscriptions ul li+li{border:0;margin:0;padding:0;margin-top:10px}
.my-subscriptions ul li{display:block}
.product-main-cnt{padding-left:0;padding-top:15px}
.product-details{display:block}
.subs-price{position:initial}
.my-orders .theme-btn{float:none!important;display:inline-block;margin-top:15px;position:inherit;transform:initial;margin-left:20px}
.show-mob{display:inline-block!important}
.show-desktop{display:none!important}
}
@media only screen and (max-width:575px){
.provider_box{overflow-x:hidden}
.provider_box .cleint-box.select_provider{height:40%}
}
@media only screen and (max-width:425px){
.visit_overview .cleint-box .prescription_name .prescription_user{margin-left:0}
.visit_overview .cleint-box .question_ans .ans_right,.visit_overview .cleint-box .question_ans .ques_sub{max-width:100%}
.provider_left{display:block;text-align:center;margin:0 auto;margin-bottom:18px}
.provider_display .form_group{width:100%;max-width:200px}
.provider_left .user_pic{margin:0 auto}
.review_details{margin:0 auto}
.provider_box{display:block}
.provider_box .cleint-box.select_provider{height:50%;max-width:100%}
}
@media only screen and (max-width:320px){
.visit_overview .cleint-box .pateint_details .contact_details .con_no span{font-size:14px}
}
.loader{position:fixed;width:100%;height:100vh;display:flex;align-items:center;justify-content:center;background:#fff;display:none;z-index:99999;opacity:.4}
div#picker{margin-top:30px}
#myc-container{width:inherit}
#myc-nav-container{margin-bottom:15px;width:inherit}
#myc-current-month-year-container{display:inline-block;font-size:1.5em;font-weight:lighter;text-align:center;text-transform:capitalize;vertical-align:top;width:68%}
#myc-prev-week-container{display:inline-block;width:15%}
#myc-next-week-container{display:inline-block;width:15%}
#myc-prev-week{border:1px solid #ff6c66;border-radius:80px;color:#ff6c66;cursor:pointer;float:left;font-size:1.6em;font-weight:lighter;height:40px;text-align:center;width:40px}
#myc-next-week{border:1px solid #ff6c66;border-radius:80px;color:#ff6c66;cursor:pointer;float:right;font-size:1.6em;font-weight:lighter;height:40px;text-align:center;width:40px}
#myc-next-week:hover,#myc-prev-week:hover{border:1px solid #bdbdbd;color:#bdbdbd}
#myc-week-container{border:1px solid #ff6c66}
#myc-dates-container{background-color:#fafafa}
.myc-date-header{border-right:1px solid #ff6c66;display:inline-block;min-height:50px;padding:15px 0 15px 15px;vertical-align:top;width:13.77%}
.myc-date-header:first-of-type{padding-left:15px}
.myc-date-header:last-of-type{border-right:none;width:13%}
#myc-available-time-container{border-top:1px solid #ff6c66;min-height:150px}
.myc-day-time-container{display:inline-block;height:100%;padding:15px 15px 15px 15px;vertical-align:top;width:13.77%}
.myc-day-time-container:first-of-type{padding-left:15px}
.myc-day-time-container:last-of-type{border-right:none;width:13%}
.myc-date-number{font-size:1.8em;font-weight:lighter}
.myc-available-time{background-color:#eee;border-radius:0;color:#222;display:block;margin-bottom:5px;padding:10px 0 10px 0;text-align:center;border:1px solid #eee}
.myc-available-time.selected,.myc-available-time:hover{border-color:#2c99cb;color:#2c99cb;background-color:rgb(44,153,203,.2)}
.myc-date-display{font-weight:lighter}
@media only screen and (max-width:768px){
.myc-date-header,.myc-day-time-container{width:13.5%}
}

/******06/12/2021 Updates*******/
.widget-signups__list {
    text-align: center
}

.widget-signups__list>a {
    vertical-align: top;
    margin: 8px 8px;
    display: inline-block
}

.widget-signups__list .avatar-char {
    background-color: #eee;
    color: #000
}

.widget-signups__list .avatar-char,
.widget-signups__list .avatar-img {
    margin: 0;
}
.widget-signups__list a{ position: relative;}
.widget-signups__list a::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 3px 16px rgb(0 0 0 / 5%);
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
}
.widget-signups__list a.online::before {
    background-color: green;
}
.widget-signups__list a.offline::before {
    background-color: red;
}

.avatar-char,.lastest_mem .avatar-img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    background-color: #f8f9fa;
    object-position: center;
    border: 2px solid #ffff;
    outline: 1px solid #ff6c66;
}
.lastest_mem .avatar-img:hover{outline: 2px solid #ff6c66;}
.right-latest-post
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: var(--PADD);
	grid-row-gap: var(--PADD);
}	
.right-latest-post>a {
	vertical-align: top;
	margin: 8px 8px;
	display: inline-block;
	text-align: center;
}
.avatar-post {
	width: 4rem;
	height: 4rem;
	object-fit: cover;
	background-color: #f8f9fa;
	object-position: center;
	border: 2px solid #ffff;
	border-radius: 5px;
	outline: 1px solid #e5e5e5;
}
.lastest_mem .avatar-post:hover{outline: 2px solid #e5e5e5;}
/***************************************************************/
/**25/05/2021 updates***/
.certificate
{
	background: #2c99cb;padding: 5px 10px;border-radius: 3px; border: 2px solid #707de1; transition: all .3s ease; color: #fff; cursor: pointer;
}
.edit_user_pic {width: 200px;border-radius: 50%;margin: 0 auto; border-radius: 50%;
    height: 200px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);}
.edit_user_pic img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;object-position: center;
}
.image-upload i {
    background-color: #d5ebf5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c99cb;
}
.user_pro_edit_area {display: flex;flex-wrap: wrap; gap:0 10px;}
.user_pro_edit_area .informative-block:nth-child(2) {width: 40%;padding: 20px 10px;}
.user_pro_edit_area .informative-block:nth-child(3) {width: 58%;}
.prf_img #changeProfileForm {
    position: absolute;
    right: -10px;
    bottom: -10px;
    cursor: pointer;
    z-index: 9;
}

/********New Gallery Css 09/12/2021************/
/* preview styles */
body{ overflow-x: hidden;}
#photo_preview {
    background-color: rgba(0, 0, 0, 0.95);
    bottom: 0;
    color: #000000;
    display: none;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 10;
}
.photo_wrp {
    background-color: transparent;
    height: calc(100vh - 80px);
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
position:relative;
    border-radius: 0px;
}
.photo_wrp .close {
    cursor: pointer;
    position:absolute; top:5px; right:5px; font-size: 13px;
    background-color: #eee; border-radius: 50%; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center;
}
.post_lightbox_wrapper {
    display: flex;
	align-items:flex-start;
}
.post_photo_slides {
    width: calc(100vw - 360px);
    height: calc(100vh - 80px);
}
.post_chat_box {
    width: 360px;
    background: white;
    height: calc(100vh - 80px);
}
.pleft {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
	padding:30px;
}
.pleft img {
    max-width: calc(100% - 80px);
}
.preview_prev, .preview_next {
    cursor: pointer;
    margin-top: 0;
    opacity: 1;
    position: absolute;
    top: 50%;
    -moz-transition: opacity 0.2s ease 0s;
    -ms-transition: opacity 0.2s ease 0s;
    -o-transition: opacity 0.2s ease 0s;
    -webkit-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
    background-color: transparent;
    color: #dedede;
    font-size: 24px;
    border: none;
	width:30px; height:30px; border-radius:50%; display:flex; align-items:center; justify-content:center;
}
.preview_prev:hover, .preview_next:hover{ background-color:rgba(0,0,0,0.7)}
.preview_prev:hover, .preview_next:hover {
    opacity: 1;
}
.preview_prev {
    left: 20px;
}
.preview_next {
    right: 20px;
}
.cr_img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(255, 108, 102);
    border: 2px solid white;
    margin-right: 15px;
}
.cr_img{ width:75px;}
.cr_head {
    padding: 15px;
    display: flex;
    align-items: center;
	text-align:left;
}
.sdw{box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.cr_head small{ color: #777;}
.input_chat_box {
    background-color: white;
    padding: 8px;
    border-top: 1px solid #dedede;
    position: relative; display:flex;
}
ul.comment_list {
    height: calc(100vh - 240px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.input_chat {
    height: 46px;
    width: 100%;
    background-color: #eaeaea;
    border: none;
    border-radius: 8px;
	padding:8px;
}
.comment_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 80px);
}
.post_chat_comment_area {
    background-color: transparent;
    height: 100%;
}
.btn_post {
    background-color: rgb(255, 108, 102);
    color: white;
    border: none;
    width: 60px;
    border-radius: 8px;
    margin-left: 5px;
}

.comment_list .cr_img img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(255, 108, 102);
    border: 2px solid white;
    margin-right: 15px;
}
.comment_list .cr_img{ width:45px;}
.comment_list .cr_head {
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
	text-align:left;
}
.comment_list li{ border-bottom: 1px solid #dedede;}
.comment_list li p.comment_txt{ padding: 0px 0; line-height: 24px; margin-bottom: 0;}
.comment_list li small{ font-size: 60%;}
/* comments styles */
#comments form {
    margin: 10px 0;
    text-align: left;
}
#comments table td.label {
    color: #000;
    font-size: 13px;
    padding-right: 3px;
    text-align: right;
    width: 105px;
}
#comments table label {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
}
#comments table td.field input, #comments table td.field textarea {
    border: 1px solid #96A6C5;
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;
    margin-top: 2px;
    padding: 6px;
    width: 250px;
}
#comments_list {
    margin: 10px 0;
    text-align: left;
}
#comments_list .comment {
    border-top: 1px solid #000;
    padding: 10px 0;
}
#comments_list .comment:first-child {
    border-top-width:0px;
}
#comments_list .comment span {
    font-size: 11px;
}

/*********End Here******************/

/*****24/12/2021 Chat screen csss*****/

.chat_pop{width:100%;max-width:600px;z-index:2;position:fixed;background:#f1f8f9;color:#000;right:-100%;bottom:0;height:calc(100vh - 80px);box-shadow:0 10px 30px 0 rgba(0,0,0,.16);z-index: 10;}
.cp_close{width:40px;height:48px;font-size:14px;position:absolute;left:0;top:0;display:flex;justify-content:center;align-items:center;cursor:pointer;border-right:1px solid #dedede}
.edit_pop_title{background-color: #ff6c66;height: 48px; padding-left: 40px;display:flex;justify-content:center;align-items:center;}
.edit_pop_title .cp_close{border-right:1px solid rgba(255, 255, 255,0.1); color: white;}
.edit_pop_title h3{ margin-bottom: 0; font-size: 18px; font-weight: 600; color: white;}
.edit_pop{ background-color: #f3f7fa;}
.edit_pop .form-group .form-control{ border-color: transparent;}
/*.chat_block{ height: calc(100vh - 130px);overflow-y: scroll;}*/
iframe.chat_frame {
    height: calc(100vh - 80px);
    width: 100%;
    border: none;
}
.chat_pop {
    z-index: 1031;
	top:80px;
}
@media screen and (max-width: 962px){
    .chat_pop {
        z-index: 1031;
        top :0;
    }
    iframe.chat_frame {
        height: 100vh ;
        width: 100%;
        border: none;
    }
}


@media screen and (max-width:600px){
	.user_pro_edit_area .informative-block:nth-child(2),.user_pro_edit_area .informative-block:nth-child(3) {width: 100%;}
}
.image-upload >input {
  display: none;
}
.image-upload-cer >input {
  display: none;
}

.blog-feature-image img {
    width: 90px;
    height: 90px;
	border-radius: 0.25rem;
}