body {
    margin: 0;
    padding: 0;
    background-color: #f3f7fa
}

.supperter_mid_wrap {
    max-width: 735px;
    margin: 36px auto 0
}

.supperter_mid_wrap .requests_wrapper>.request_box,
.supperter_mid_wrap .title_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.supperter_mid_wrap .title_box>h6 {
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 600
}

.supperter_mid_wrap .title_box>a {
    font-size: 13px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #2c99cb
}

.supperter_mid_wrap .title_box>a:hover,
.supporters_sec .cards_wrapper .card .text_wrapper .follow:hover,
.supporters_sec .cards_wrapper .card .text_wrapper .following:hover {
    color: #ff6c66
}

.supporters_sec .cards_wrapper .card .text_wrapper .following.pending:hover {
    color: #999;
}

.supperter_mid_wrap .requests_wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 10px
}

.supperter_mid_wrap .requests_wrapper>.request_box {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f8f8f8;
    align-items: center
}

.supperter_mid_wrap .requests_wrapper>.request_box:last-child {
    margin-bottom: 0;
    border-bottom: 0
}

.supperter_mid_wrap .requests_wrapper>.request_box .info_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.supperter_mid_wrap .requests_wrapper>.request_box .img_wrapper {
    width: 60px;
    height: 60px
}

.supperter_mid_wrap .requests_wrapper>.request_box .img_wrapper img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper {
    margin-left: 12px;
    max-width: 260px
}

.supperter_mid_wrap .requests_wrapper>.request_box .btns_box button,
.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper .designation,
.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper>h6,
.supporters_sec .cards_wrapper .card .text_wrapper>h6,
.supporters_sec .cards_wrapper .card .text_wrapper>p {
    font-family: Lato, sans-serif
}

.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper>h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px
}

.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper>p,
.supporters_sec .cards_wrapper .card .text_wrapper .following,
.supporters_sec .cards_wrapper .card .text_wrapper>p {
    color: #999;
}

.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper>p {
    margin-bottom: 4px;
    font-size: 12px
}

.supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper .designation {
    font-size: 14px;
    font-weight: 500
}

.supperter_mid_wrap .requests_wrapper>.request_box .btns_box button {
    width: 110px;
    height: 34px;
    font-size: 12px;
    font-weight: 700
}

.supperter_mid_wrap .requests_wrapper>.request_box .btns_box .btn-default {
    border: .5px solid #707070;
    color: #707070;
}

.supperter_mid_wrap .requests_wrapper>.request_box .btns_box .btn-default:hover {
    background-color: #707070 !important;
    color: #FFFFFF;
}

.supperter_mid_wrap .requests_wrapper>.request_box .btns_box .btn-primary {
    background-color: #ff6c66!important;
    border-color: #ff6c66
}

.supperter_mid_wrap .requests_wrapper>.request_box .btns_box .btn-primary:hover {
    background-color: #2c99cb!important;
    border-color: #2c99cb;
}

.supporters_sec {
    margin: 36px 0 0 0
}

/*.supporters_sec .cards_wrapper {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}

.supporters_sec .cards_wrapper .card {
    width: 178px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    margin-bottom: 36px;
    margin-right: 7px;
    overflow: hidden;
}
.supporters_sec .cards_wrapper .card:nth-child(4n) {
    margin-right: 0;
}
*/
.supporters_sec .cards_wrapper {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* overflow: hidden; */
    width: calc(100% + 5px);
    margin-left: -5px;
}
.supporters_sec .cards_wrapper .card {
    width: 176px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    margin-bottom: 36px;
    margin-left: 5px;
    overflow: hidden;
}



.supporters_sec .cards_wrapper .card .img_wrapper {
    width: 100%;
    height: 140px;
    overflow: hidden
}

.supporters_sec .cards_wrapper .card .img_wrapper img{
    height: 140px; width: 100%; object-fit: cover; object-position: center;
}

.supporters_sec .cards_wrapper .card .text_wrapper {
    padding: 15px
}

.supporters_sec .cards_wrapper .card .text_wrapper>h6 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px
}

.supporters_sec .cards_wrapper .card .text_wrapper>p {
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f8f8f8;
    min-height: 63px;
}

.supporters_sec .cards_wrapper .card .text_wrapper>p>span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0;
    height: 42px;
}

.supporters_sec .cards_wrapper .card .text_wrapper .follow,
.supporters_sec .cards_wrapper .card .text_wrapper .following {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.supporters_sec .cards_wrapper .card .text_wrapper .follow {
    color: #2c99cb;
}


/* .blog-stories.sponsored ul li {
    display: flex;
    align-items: center;
    transition: .3s!important;
} */

.blog-stories.sponsored .short-description>p {
    font-size: 12px;
    font-weight: 500;
    color: #222222;
}

.blog-stories.sponsored .short-description>a {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}

.blog-stories.sponsored .short-description>a:hover {
    padding-left: 0;
    color: #2c99cb;
}

#supporters .owl-stage,
#supportingData .owl-stage,
#youMayKnow .owl-stage {
    padding: 0;
}

#supporters .owl-nav,
#supportingData .owl-nav,
#youMayKnow .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 112%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
	left: -6%;
}

#supporters .owl-nav button,
#supportingData .owl-nav button,
#youMayKnow .owl-nav button {
    pointer-events: all;
}

#supporters .owl-nav.disabled,
#supportingData .owl-nav.disabled,
#youMayKnow .owl-nav.disabled {
    display: none;
}

#supporters:hover .owl-nav.disabled,
#supportingData:hover .owl-nav.disabled,
#youMayKnow:hover .owl-nav.disabled {
    display: flex;
}

.card .text_wrapper{ position: relative;}
.sup_drop {
    position: absolute;
    top: 10px;
    right: 5px;
}
.sup_drop .dropdown-menu{ padding: 0%;}
.unsup_btn {
    width: 30px;
    height: 30px;
    border-radius: 50%; background-color: #FFFFFF;
    border: none;
}
.unsup_btn:hover { background-color: #f5f5f5;}
.sup_card_btns {
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.sup_card_btns a{
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgba(44, 153, 203,0.2); border-radius: 4px; transition: all ease 0.3s;width: 150px;color: rgba(44, 153, 203,1);
}
.sup_card_btns a .fa{ color: rgba(44, 153, 203,1); margin-right: 5px;}
.sup_card_btns a:hover .fa{ color: white;}
.sup_card_btns a:hover{
    background-color: rgba(44, 153, 203,1); color: white; 
}

@media only screen and (max-width:992px) {
    .supporters_sec .cards_wrapper {
        justify-content: flex-start
    }
    .supporters_sec .cards_wrapper .card {
        margin-right: 8px
    }
	.supperter_mid_wrap .supporters_sec .cards_wrapper .card {
		width: calc(100% - 15px);
	}
	.supporters_sec #supporters .owl-stage {
		width: 100%!important;
	}
}

@media only screen and (max-width:568px) {
    .supperter_mid_wrap .requests_wrapper>.request_box .btns_box {
        margin-top: 12px
    }
}

@media only screen and (max-width:475px) {
    .supperter_mid_wrap .requests_wrapper>.request_box .text_wrapper {
        margin-left: 0;
        margin-top: 12px;
        max-width: 100%
    }
}
