.myForm form div.error {
    color: red;
    margin-top: 0.5rem;
}

.sub_admin_table {
    width: 100% !important;
    margin: 24px 0;
    border-top: 2px solid #e2e8f0;
}

.sub_admin_table tr {
    border-bottom: 1px solid #e2e8f0;
}

#tableFilters>div {
    display: inline-block;
    width: 200px;
}

#tableFilters>div:last-child {
    width: auto;
}

.mobile-menu ul li ul a {
    color: #000 !important;
}

.mobile-menu ul li ul {
    background-color: #fff !important;
}

.faq_table td {
    /* display: block; */
    max-height: 200px;
}

.faq_modal p:last-child {
    margin-bottom: 0 !important;
}

.btn_dark {
    background-color: #313632 !important;
    color: #fff !important;
}

.btn_red {
    background-color: #ff3401 !important;
    color: #fff !important;
}

.btn_gray {
    background-color: #646464 !important;
    color: #fff !important;
}

.btn_blue {
    background-color: #3878b8 !important;
    color: #fff !important;
}

.btn_white {
    background-color: #fff !important;
    color: #232323 !important;
}

.text_success {
    color: #545a4e !important;
}

.text_danger {
    color: #f97a4d !important;
}

.btn_info{
	background-color: #25bcd5 !important;
    color: #fff !important;
}

#patients_table .dataTables_scroll {
    overflow-x: auto !important;
}

#patients_table tr td:nth-child(6) {
    width: 120px;
}

#patients_table tr td:nth-child(6),
#patients_table tr th:nth-child(6) {
    padding-left: 12px;
    padding-right: 12px;
}

#productForm .select2-container {
    width: 100% !important;
}

.images_preview {
    display: flex;
}

.images_preview .pip:first-child {
    margin-left: 0;
}

.images_preview .pip {
    margin-left: 10px;
}

.images_preview .pip img {
    width: 80px;
    height: 80px;
}

.dataTables_scrollBody .patients_table {
    margin-top: 0px !important;
    border-top: 0;
}

.dataTables_scrollHead .patients_table {
    margin-bottom: 0px !important;
}

#product_detail_page .product_main_img {
    height: 400px;
    border: 1px solid #cccccc;
    z-index: 1;
    position: relative;
    padding: 16px;
    cursor: crosshair;
}

#product_detail_page .product_main_img img {
    height: 100%;
    width: 100%;
}

#product_detail_page .product_thumbnail_section,
#product_detail_page .product_main_img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#product_detail_page .product_thumbnail_section img {
    width: 100px;
    height: 100px;
    border: 1px solid #cccccc;
    display: inline-block;
    cursor: pointer;
}

.visit_status_btn {
    background: #f1f5f8;
    padding: 12px;
    border-radius: 6px;
}

.visit_status_btn:focus {
    outline: none;
}

.custom_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(101 95 95 / 33%);
    z-index: 100;
    display: none;
}

@media only screen and (max-width: 575px) {
    .product_main_img {
        width: 100% !important;
        height: auto !important;
    }
    #product_detail_page .product_thumbnail_section,
    #product_detail_page .product_main_img {
        width: 100%;
    }
    #product_info>div {
        width: 100%;
        overflow: auto;
    }
    .mobile-menu {
        border-color: white !important;
    }
}

.side-menu__sub-open .side-menu--active {
    color: #ff776d;
}

button.services.active {
    font-weight: bold;
    border-width: 2px;
}

div#myTable_processing {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #e2e2e2;
    opacity: 0.7;
    z-index: 1111;
    margin: -20px;
    padding: 20px;
}

div#myTable_processing img,
img.ajax_loader {
    width: auto;
    margin: auto;
    display: block;
    opacity: 1;
}

hr.visit_form_hr {
    border-top-color: #adaaaa;
    border-top-width: 1px;
    margin-top: 5px;
}

button.element_close {
    float: right;
}

.home_page_sections_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.home_page_sections_wrapper .section {
    width: 300px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 16px;
}

.more_items_wrapper .formElements {
    border: 1px solid #888888;
    padding: 8px 12px;
    border-radius: 6px;
}

.more_items_wrapper .formElements>.label_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.more_items_wrapper .formElements>.label_wrapper .eye-expand {
    display: none;
}

.formElements .input_wrapper>input {
    max-width: 768px;
}

.formElements .add_remove_btns_wrapper>.intro-y,
.formElements .input_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#form_element {
    width: 280px;
}

.visit_status_btn.visit_status {
    max-width: 200px;
}

.custome_email_link {
    display: flex;
    align-items: center;
}

.custome_email_link:hover {
    color: #ff776d;
}

.custom_badge {
    padding: 0 6px;
}


/* Provider Detail */

.lightSlider.lsGrab .lslide {
    height: auto;
    overflow: hidden;
}

.lSSlideOuter .lSPager.lSGallery li {
    border: 1px solid lightgray;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}

.lSSlideOuter .lSPager.lSGallery li img {
    height: 72px;
    width: 90px;
}

.lSSlideOuter .lSPager.lSGallery li.active {
    transform: translateY(-8px);
}

.lSSlideOuter .lSPager.lSGallery {
    padding: 18px 0;
}

.lightSlider.lsGrab .lslide {
    border-radius: 6px
}

.lSSlideOuter .lightSlider {
    margin-top: 18px;
}

.license_slider .close>.close_icon {
    width: 20px;
    color: #000;
}

.type_filter_wrapper>label {
    display: block;
    margin-bottom: 3px;
}


/* #image-gallery2, */


/* #image-gallery3 {
    display: none;
} */

@media screen and (max-width: 1366px) {
    .options_wrapper .input_wrapper>.conditional_checkbox_wrapper {
        margin-left: 0;
        margin-top: 12px;
    }
    .options_wrapper .input_wrapper .button,
    .options_wrapper .input_wrapper .select2 {
        margin-top: 12px;
    }
}

.conditional_checkbox_wrapper input[type="checkbox"][readonly] {
    pointer-events: none;
}

.action_btns_srapper button.btn_red[disabled] {
    background-color: #b9b1b1!important;
    border-color: #b9b1b1!important;
    cursor: no-drop;
}

.side_btn_wrapper {
    position: fixed;
    top: 117px;
    right: 33px;
    z-index: 48;
    background: #3b7ab8;
    color: #fff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all ease-in-out 0.3s;
}

.side_btn_wrapper:hover {
    background-color: #366a9f;
}

.side_btn_wrapper>a {
    display: inline-block;
    padding: 12px 8px 12px 16px;
    font-weight: 500;
}

.side_btn_wrapper .feather {
    display: inline-block;
    margin-left: 8px;
}

.right_sidebar_fq {
    position: fixed;
    top: 116px;
    right: -300px;
    background-color: #3b7ab8;
    color: #fff;
    z-index: 48;
    width: 300px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
}

.right_sidebar_fq .header {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 16px;
}

.right_sidebar_fq .body ul>li>a {
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
}

.right_sidebar_fq .body ul>li>a:hover {
    background-color: rgb(35 42 59 / 0.2);
}

.right_sidebar_fq .body ul>li>a .feather {
    display: inline-block;
    margin-right: 6px;
    width: 20px;
}

#FormActionBtn button:disabled,
#FormActionBtn button[disabled]{
  border: 1px solid #999999!important;
  background-color: #cccccc!important;
  color: #666666!important;
  cursor: no-drop!important;
}

.images_preview {
    display: flex;
}

.images_preview img {
    width: 80px;
    height: 80px;
    margin-top: 12px;
    margin-right: 8px;
    border: 1px solid gray;
}

.variants_area {
    padding: 30px;
    background-color: ghostwhite;
}

.medicine_faq_area {
    padding: 30px;
    background-color: snow;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
    display: none;
    z-index: 999;
    opacity: 0.4;
}


button.dt-button.buttons-excel.buttons-html5.green {
    color: #fff;
    background-color: #1D6F42;
    font-weight: bold;
    font-size: 13px;
}

button.dt-button.buttons-pdf.buttons-html5.red {
    color: #fff;
    background-color: #ff776d;
    font-weight: bold;
    font-size: 13px;
}
