@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
:root{--color_primary:#FF776D;--color-secondry:#3b7ab8; --color-hover:rgb(16, 79, 140); --bg-light:#f1f8f9;--bg-white:#ffffff;--round-border:10px;--border-color:#dedede;--bg-dark:#333;--dark-text:#101010}
/* *{box-sizing:border-box}
html {
    scroll-behavior: smooth;
  }
body{background-color:#f1f5f8;font-family:Roboto,sans-serif} */
.vs_wrapper{margin:20px auto;background-color:var(--bg-white);padding:15px;border-radius:var(--round-border);max-width:1024px}
.q_box{transition:all ease .5s;background-color:var(--bg-light);padding:10px;border-radius:var(--round-border);position:relative;margin-bottom:15px;box-shadow:0 3px 6px rgba(0,0,0,.16);border:2px dashed var(--border-color)}
.qb_title{font-size:18px;margin-bottom:15px}
.qb_title:hover {cursor: all-scroll;}
.q_field{width:100%;height:40px;background-color:var(--bg-white);border-radius:var(--round-border);border:1px solid var(--border-color);padding-left:15px;margin-bottom:10px}
.qtxt_field{width:100%;height:auto;background-color:var(--bg-white);border-radius:var(--round-border);border:1px solid var(--border-color);padding-left:15px; padding-top: 5px;margin-bottom:10px}
.q_box:hover{border:2px solid var(--color-secondry)}
.q_box:hover > .q_actions, .qb_child_input:hover > .q_actions{ display: block;}
.qb_child_input > .q_actions{ display: none;}
.qb_area{width:100%;position:relative}
.q_actions{position:absolute; display: none; right:5px;top:5px; transition:all ease .5s;}
.act_btn_grp{display:flex;}
.q_actions a{transition:all ease .3s;width:30px;height:30px;border-radius:50%;color:var(--dark-text);display:flex;justify-content:center;align-items:center;text-decoration:none;margin:3px 2px}
.q_actions a:hover{background-color:var(--bg-white);box-shadow:0 3px 6px rgba(0,0,0,.16)}
.q_actions a.up_dwn{color:var(--color-secondry)}
.q_actions a.trash{color:red}
.q_actions a.plus{color:var(--color-secondry)}
.vs_page_title h2{margin-top:0;font-size:20px;margin-bottom:10px;}
.qb_child_input{position:relative;width:calc(100% - 20px);margin-left:15px;margin-bottom:8px}
.qb_child_input .input_box{width:calc(100% - 200px);display:inline-block;vertical-align:middle}
.qb_child_input .input_box .q_field{margin-bottom:0}
.qb_child_input .check_box{display:inline-block;vertical-align:middle;font-size:14px}
.qb_child_input .check_box input{margin:0 5px 0 10px;}
.add_new_que{margin:2px auto;width:100%}
.add_btn{
    transition:all ease .3s;
    font-size:14px;
    text-decoration:none;
    height:40px;
    background-color:var(--color-hover);
    color:var(--bg-white); 
    width:100%;
    font-family:Roboto,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center; border-radius: 5px; box-shadow:0 3px 6px rgba(16, 79, 140,0.5); max-width: 300px; margin: 0 auto;
    }
.add_btn i{margin-right:10px}
.add_btn:hover{ background-color: var(--color-secondry) }
.add_btn_list{
    transition:all ease .3s;
    font-size:14px;
    text-decoration:none;
    height:40px;
    background-color:var(--color-hover);
    color:var(--bg-white); 
    width:100%;
    font-family:Roboto,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center; border-radius: 5px; box-shadow:0 3px 6px rgba(16, 79, 140,0.5); max-width: 300px; margin: 0 auto;
    }
.add_btn_list:hover{ background-color: var(--color-secondry) }
.qb_area .q_box{background-color:var(--bg-white)}
.qb_area .add_new_ans .add_btn {
    width: auto;
    border: none;
    height: 30px;
    margin-left: 15px;
    max-width: 40px;
    font-size: 13px;
}
.qb_area .add_new_ans .add_btn i{margin-right:0;}
.qb_edit_dropdown {
    width: 100%;
    background-color: var(--bg-white);
    padding: 20px 10px;
    position: relative;
}
.edit_inpt_grp {
    display: flex;
    align-items: center;
}
.edit_inpt_grp label{ font-size: 13px;}
.edit_inpt_grp .q_field{ height: 40px;}
.qus_selection_box {
    background-color: rgba(11,12,17,0.8);
    padding: 10px;
    border-radius: var(--round-border);
    margin: 15px auto;
}
.qsb {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start; flex-wrap: wrap; justify-content: space-between;
}
.qsb li {
    list-style: none;
    margin: 5px;
    border: 1px solid var(--bg-white);
    width: 48%;
}
.qsb li:hover{ background-color: var(--bg-white); color: var(--color-secondry); transition: all ease 0.3s;}
.qsb li a{ font-size: 14px; text-decoration: none; color: var(--bg-white); display: block;
    padding: 10px;}
.qsb li:hover a{text-decoration: none; color: var(--color-secondry);}
.qsb li a i{ margin-right: 10px;}
.con_add_qus{ display: inline-block; width: 30px; margin-left: 10px; position: relative;}
.con_add_qus .qus_selection_box{
    position: absolute; top: 10px; right: 0px; width: 230px; z-index: 5; display: block;background-color: rgba(11,12,17,0.95);
}
.con_add_qus .qus_selection_box .qsb li {
    list-style: none;
    margin: 2px;
    border: 1px solid var(--bg-white);
    width: 100%;
}
#FormActionBtn .intro-y{
	z-index:0!important;
}