:root {
	--color-primary: rgba(255, 108, 102, 1);
	--color-secondary: #047cb3;
	--transition: all ease 0.3s;
	--color-grey: #9F9F9F;
	--color-bg-grey: #f5f5f5;
	--fontsize-block-title: 30px;
	--color-border-grey: #e0dede;
	--color-body-text: #283742
}

.content_block .container {
	max-width: 1200px
}

.rmd_blog_top_fea .container-fluid {
	padding-left: 0;
	padding-right: 0
}

.rmd-post-wrapper-inner {
	position: relative
}

.rmd-post-image {
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover
}

.rmd_post_wrp_inner {
	position: relative;
	height: 100%;
	overflow: hidden;
	background-color: var(--color-bg-grey);
	transition: var(--transition)
}

.rmd-post-details {
	position: relative;
	height: 100%;
	padding: 30px;
	background-color: rgba(0, 0, 0, .4);
	min-height: 445px;
	text-align: left;
	transition: var(--transition)
}

.rmd_post_wrp_inner:hover .rmd-post-details {
	background-color: rgba(0, 0, 0, .5)
}

.rmd_post_details_inner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	max-width: 350px;
	margin-left: 50px;
	transition: var(--transition);
	color: #fff
}

.rmd_post_wrp_inner:hover .rmd_post_details_inner {
	bottom: 50px
}

.rmd_post_details_inner a {
	color: #fff
}

.rmd_post_details_inner .post-date {
	display: inline-block;
	color: var(--color-grey);
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 5px
}

.rmd_post_details_inner .post-info-dot {
	display: inline-block;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 5px;
	width: 6px;
	height: 6px;
	border: 1px solid #909090;
	top: -1px;
	position: relative
}

.post-author {
	display: inline-block;
	font-size: 12px;
	color: var(--color-grey);
	font-weight: 500
}

.post-read-time {
	display: inline-block;
	color: var(--color-grey);
	font-weight: 500;
	font-size: 12px
}

.post-categories {
	position: relative;
	font-size: 14px;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: lowercase;
	display: flex;
	flex-wrap: wrap;
	align-items: center
}

.post-categories a {
	display: flex;
	align-items: center;
	font-weight: 400;
	text-decoration: none;
	padding: 1px 15px 1px 10px;
	background-color: #fff;
	border: 1px solid var(--color-border-grey);
	color: var(--color-black);
	margin-bottom: 5px;
	margin-right: 10px;
	word-break: break-word;
	min-height: 28px;
	line-height: 15px;
	border-radius: 30px
}

.cat-title {
	color: #777
}

.post-categories .cat-dot {
	display: inline-block;
	width: 14px;
	height: 14px;
	position: relative;
	border-radius: 100%;
	margin-right: 10px;
	flex-shrink: 0
}

.format_gallery .rmd-post-format-icon::after {
	content: "\f03e"
}

.format_video .rmd-post-format-icon::after {
	content: "\f04b";
	padding-left: 4px
}

.format_gallery .rmd-post-format-icon::after,
.format_video .rmd-post-format-icon::after {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	z-index: 100;
	background-color: #fff;
	font-family: fontawesome;
	font-size: 14px;
	color: #000;
	border-radius: 50%
}

.rmd_block_title {
	border-bottom: 1px solid var(--color-border-grey);
	padding-bottom: 15px;
	margin-bottom: 30px
}

.rmd_block_title h3 {
	font-size: var(--fontsize-block-title);
	margin-bottom: 0
}

.rmd_block_title h4 {
	text-transform: none;
	font-size: 14px;
	color: var(--color-grey)
}

.post_img {
	max-height: 260px;
	position: relative;
	overflow: hidden;
	border-radius: 10px
}

.post_img img {
	object-fit: cover;
	height: 100%;
	min-height: 260px
}

.post_box.big_post {
	max-width: 800px
}

.editor_choice .big_post .post_img {
	max-height: 500px
}

.editor_choice .big_post .post_img img {
	min-height: 500px
}

.editor_choice .post_box .rmd_post_details_inner {
	max-width: inherit
}

.small_post .post_img {
	height: 160px
}

.small_post .post_img img {
	min-height: 160px;
	object-position: center;
	object-fit: cover;
	width: 100%
}

.post-title {
	font-size: 1.5rem
}

.small_post .post-title {
	font-size: 1.05rem;
	margin: 15px auto
}

.small_post .post-title a {
	color: var(--color-body-text)
}

.small_post .post-title a:hover {
	color: var(--color-primary)
}

.post_box {
	margin-bottom: 30px
}

.post_img::after {
	background: #fff;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 50%, rgba(241, 63, 50, 1) 50%, rgba(241, 63, 50, 1) 100%);
	content: '';
	width: 50px;
	height: 50px;
	display: block;
	bottom: 0;
	right: 0;
	position: absolute;
	transform: translate(100%, 100%);
	transition: var(--transition)
}

.post_img:hover::after {
	transform: translate(0, 0)
}

.post_box .rmd_post_details_inner {
	position: relative;
	bottom: auto;
	margin: 15px auto;
	max-width: max-content;
	color: var(--color-body-text)
}

.post_box .rmd_post_details_inner a {
	color: var(--color-body-text)
}

.post_box .rmd_post_details_inner a:hover {
	color: var(--color-primary)
}

.main_sidebar .widgettitle {
	color: var(--color-black);
	font-size: 22px;
	margin-bottom: 30px;
	margin-top: 0;
	display: block;
	text-align: left;
	border-bottom: 1px solid var(--color-border-grey);
	padding-bottom: 20px
}

.latest_posts .rmd-post-image,
.latest_posts .rmd_post_wrp_inner {
	border-radius: 10px
}

.load_more_btn {
	max-width: 150px;
	margin: 0 auto
}

.latest_posts .main_sidebar {
	position: sticky;
	top: 100px
}

#mainSidebar {
	padding-left: 30px
}

.lastpost_list {
	margin-bottom: 30px
}

.lastpost_list li {
	margin: 10px auto
}

.lastpost_list .post_img {
	width: 110px;
	height: 90px;
	margin-right: 20px
}

.lastpost_list .post_box {
	display: flex
}

.lastpost_list .post_box .rmd_post_details_inner {
	width: calc(100% - 135px);
	margin: 0;
	max-width: initial
}

.lastpost_list .post_box .post-title {
	font-size: 1.1rem
}

.lastpost_list .post_img::after {
	width: 25px;
	height: 25px
}

#mainSidebar>li {
	margin-bottom: 50px
}

.lastpost_list li .rmd-post-details {
	min-height: 350px
}

.lastpost_list .rmd_post_details_inner {
	margin-left: 15px
}

.subs_follow li {
	margin-bottom: 5px
}

.subs_follow li a {
	display: block;
	width: 100%;
	height: 50px;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 700;
	border-radius: 5px;
	color: #fff;
	transition: var(--transition)
}

.subs_follow li a i {
	float: right;
	line-height: 50px
}

.subs_follow li a span.social-title {
	font-size: 14px;
	display: block;
	padding-top: 5px
}

.subs_follow li a span.social-description {
	font-size: 12px;
	font-weight: 400;
	display: block
}

.subs_follow li a.sf_facebook {
	background-color: #4267b2
}

.subs_follow li a.sf_twitter {
	background-color: #1da1f2
}

.subs_follow li a.sf_instagram {
	background-color: #369
}

.subs_follow li a.sf_yt {
	background-color: #f61004
}

.subs_follow li a:hover {
	background-color: var(--color-body-text)
}

.category_list .post-categories {
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 15px;
	margin-bottom: 0;
	height: 30px
}

.category_list li {
	margin-bottom: 8px
}

.category_list .cl_pc_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 700;
	border-radius: 5px;
	color: #fff;
	transition: var(--transition);
	background-color: rgba(0, 0, 0, .5)
}

.category_list .cl_pc_item:hover {
	background-color: rgba(0, 0, 0, .7)
}

.category_list .post_categories_overlay {
	background-size: cover;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
	position: relative
}

.banner_sec {
	height: 600px;
	background: radial-gradient(#ffc8c5, #e68c88)
}

.banner_sec .content_wrapper {
	margin-top: 176px;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	height: 100%
}

.banner_sec .content_wrapper>div {
	width: 50%
}

.banner_sec .content_wrapper>div>h2.heading {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
	margin: 30px 0
}

.custom_beradcrumb {
	color: #fff
}

.custom_beradcrumb>span {
	padding: 0 20px;
	border-right: 2px solid #fff;
	font-weight: 600
}

.custom_beradcrumb>span:first-child {
	padding-left: 0
}

.custom_beradcrumb>span:last-child {
	border: none
}

.banner_sec .content_wrapper img {
	width: 100%;
	max-width: 500px
}

.detail_sec {
	padding: 72px 0
}

.detail_sec .internal_title {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: #333;
	padding: 0 10px
}

.detail_sec .container {
	margin-top: 72px
}

.detail_sec .container p {
	color: #777;
	margin-bottom: 30px
}

.detail_sec .container .title {
	color: #333;
	font-size: 18px;
	margin-bottom: 24px
}

.blog_cat_top {
	padding: 50px 0;
	margin-top: 80px;
	background-color: rgba(44, 153, 203, 0.1);
	text-align: center;
}

.blog_cat_foot {
	padding: 50px 0;
	background-color: rgba(44, 153, 203, 0.1);
	text-align: center;
}

.blog_cat_foot .blogs_topic_nav_ul {
	margin: 25px auto;
}

.bctt_list {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.blog_top_bredcum li {
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
}

.blog_top_bredcum li:first-child a {
	border-right: 1px solid var(--color-grey);
	padding-right: 15px;
	margin-right: 15px;
}

.blog_top_bredcum li a {
	font-weight: 600;
	color: var(--color-primary);
	display: inline-block;
}

.blogs_topic_nav_ul {
	margin-top: 25px;
}

.bctt_list li {
	display: inline-block;
}

.bctt_list li a {
	font-size: 16px;
	display: flex;
	height: 40px;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
	padding: 5px 15px;
	background-color: var(--blue);
	color: white;
	margin: 3px;
	transition: var(--transition);
}

.bctt_list li a.active,
.bctt_list li a:hover,
.bctt_list li a:focus {
	background-color: var(--color-primary);
	color: white;
}

.blogs_topic_nav_sel {
	display: none;
}

.blogs_topic_nav_sel select.custom-select {
	width: 100%;
	max-width: 500px;
	margin: 5px auto;
	height: calc(2.5em + .75rem + 2px);
	background-color: white;
	border: none;
	border-radius: 10px;
	border: 1px solid var(--color-grey);
}

.page-link {
	color: var(--color-secondary);
}

.page-item.active .page-link {
	background-color: var(--color-secondary);
	border-color: var(--color-secondary);
}


::selection {
	color: #fff;
	background: var(--color-primary)
}

.blog_search {
	padding: 50px 0;
	background-color: rgba(44, 153, 203, 0.1);
}

.blog_serach_wrapper {
	max-width: 650px;
	margin: 10px auto;
	width: 100%;
}

.blog_serach_wrapper .search-input {
	background: #fff;
	width: 100%;
	border-radius: 5px;
	position: relative;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog_serach_wrapper .search-input input {
	height: 55px;
	width: 100%;
	outline: 0;
	border: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .1)
}

.blog_serach_wrapper .search-input.active input {
	border-radius: 5px 5px 0 0
}

.blog_serach_wrapper .search-input .autocom-box {
	padding: 0;
	opacity: 0;
	pointer-events: none;
	max-height: 280px;
	overflow-y: auto
}

.blog_serach_wrapper .search-input.active .autocom-box {
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto
}

.blog_serach_wrapper .autocom-box li {
	list-style: none;
	padding: 8px 12px;
	display: none;
	width: 100%;
	cursor: default;
	border-radius: 3px
}

.blog_serach_wrapper .search-input.active .autocom-box li {
	display: block
}

.blog_serach_wrapper .autocom-box li:hover {
	background: #efefef
}

.blog_serach_wrapper .search-input .icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 55px;
	width: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
	color: var(--color-black);
	cursor: pointer
}


@media screen and (max-width:1100px) {
	.rmd_post_details_inner {
		margin-left: 15px
	}
}

@media screen and (max-width:992px) {
	.navbar .navbar-collapse {
		margin: 0px auto;
	}
}

@media screen and (max-width:991px) {
	.blog_cat_top {
		margin-top: 70px;
	}
}

@media screen and (max-width:767px) {
	.rmd-post-details {
		min-height: 350px
	}
	.post_box .rmd_post_details_inner {
		margin: 15px auto 0 0
	}
	#mainSidebar {
		padding-left: 0
	}
	.banner_sec .content_wrapper>div {
		width: 100%
	}
	.banner_sec {
		height: 600px
	}
	.banner_sec .content_wrapper>div>h2.heading {
		font-size: 36px
	}
	.detail_sec img {
		margin: 0 auto 30px auto;
		display: inherit
	}
	.detail_sec .internal_title {
		font-size: 24px
	}
	.banner_sec .content_wrapper {
		margin-top: 109px
	}
	.banner_sec .content_wrapper img {
		max-width: 184px
	}
	.bctt_list {
		display: none;
	}
	.blogs_topic_nav_sel {
		display: block;
	}
	.blog_top_bredcum li {
		display: block;
	}
	.blog_top_bredcum li:first-child a {
		border-right: none;
		padding-right: 0;
		margin-right: 0;
		border-bottom: 1px solid var(--color-grey);
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	.blog_cat_top {
		padding: 25px 0;
	}
	.post_box {
		margin: 0px auto 30px auto;
		max-width: 500px;
	}
}

@media screen and (max-width:465px) {
	.banner_sec .content_wrapper>div>h2.heading {
		font-size: 30px
	}
	.banner_sec .content_wrapper>div:first-child {
		height: 280px
	}
	.custom_beradcrumb>span {
		padding: 0 10px
	}
	.banner_sec {
		height: 660px
	}
}