.forum_page_name {
    background-color: rgba(44, 153, 203, 0.1);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.forum_page_name h1 {
    font-weight: bold;
}

.forum_wrap .container {
    max-width: 1200px;
}

.forum_cat_box {
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    max-width: 370px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.forum_cat_list .col-md-4:nth-child(1) .forum_cat_box {
    background-color: rgba(255, 108, 102, 0.1);
}

.forum_cat_list .col-md-4:nth-child(2) .forum_cat_box {
    background-color: rgba(44, 69, 203, 0.1);
}

.forum_cat_list .col-md-4:nth-child(3) .forum_cat_box {
    background-color: rgba(203, 139, 44, 0.1);
}

.forum_cat_list .col-md-4:nth-child(4) .forum_cat_box {
    background-color: rgba(255, 148, 102, 0.1);
}

.forum_cat_list .col-md-4:nth-child(5) .forum_cat_box {
    background-color: rgba(44, 165, 203, 0.1);
}

.forum_cat_list .col-md-4:nth-child(6) .forum_cat_box {
    background-color: rgba(162, 44, 203, 0.1);
}

.forum_cat_list .col-md-4:nth-child(7) .forum_cat_box {
    background-color: rgba(252, 102, 255, 0.1);
}

.forum_cat_list .col-md-4:nth-child(8) .forum_cat_box {
    background-color: rgba(255, 240, 102, 0.1);
}

.num_topics {
    background-color: #FF6C66;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    position: relative;
}

.num_topics::after {
    content: "Topics";
    color: #FF6C66;
    font-size: 14px;
    bottom: -20px;
    position: absolute;
    font-weight: 600;
}
.post_topics::after {
    content: "Posts";
    
}

.forum_cat_name {
    font-size: 20px;
    font-weight: 600;
}

.forum_tabs {
    justify-content: center;
}

.forum_tabs .nav-item {
    margin: 0 15px;
}

.forum_tabs .nav-link {
    color: #777777;
    border-bottom: 2px solid transparent;
}

.forum_tabs .nav-link.active {
    color: #FF6C66;
    border-bottom: 2px solid currentColor;
}

.users_list li {
    display: inline-block;
    vertical-align: middle;
}

.users_list li:not(first-child) {
    margin-left: -16px;
}

.users_list li:last-child {
    margin-left: 2px;
}

.users_list img {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

.topics_table table th,
.topics_table table td {
    text-align: center;
}

.topics_table table thead th {
    border-top: 0;
    color: #777;
    font-weight: normal;
}

.topics_table table th:first-child,
.topics_table table td:first-child {
    text-align: left;
}

.topic_top_title .forum_cat_box {
    max-width: inherit;
    height: 100px;
    background-size: contain;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.topic_top_title .forum_cat_box .forum_cat_name {
    margin-left: 20px;
}

.topic_top_title .forum_cat_box .num_topics {
    margin-top: -15px;
}

.inner_forum .forum_tabs {
    justify-content: flex-start;
}