@charset "utf-8";
@media screen and (max-width:2680px) {
    .container {
        max-width: 1600px;
    }
.exprt_box .exprt_img img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    max-width: 400px;
    margin: 0 auto;
    border-radius: inherit;
}
.navbar-brand {
    max-width: 150px;
}
}

@media screen and (max-width:1499px) {
    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 0px;
    }
    .hero_slider {
        max-width: 600px;
        margin-top: 36px;
    }
    .member_wrapper {
        justify-content: flex-start;
    }
    .member_wrapper .item_mem {
        margin-left: 8px;
    }
    .work_join_sec.experts_p .box {
        width: 360px;
    }
    /* Sign Up */
    .sign_up_sec:after {
        bottom: -160px;
    }
    /* Blogs */
    .latest_article>.article_wrapper>.article {
        width: 400px;
        height: auto;
    }
    .blog_box {
        align-items: flex-start;
    }
    .blog_box>.img_wrapper {
        width: 320px;
        height: auto;
    }
    .blog_stories_wrapper .popular_article .article>.img_wrapper {
        width: 100px;
        height: 150px;
        border-radius: 16px;
    }
    .blog_stories_wrapper .popular_article .article .heading {
        height: 124px;
    }
    .blog_stories_wrapper .popular_article .article .writer {
        margin-top: 8px;
    }
    .square_advertisement {
        width: 100%;
    }
    .blog_stories_wrapper .popular_article .article .heading,
    .latest_news .news>h6 {
        font-size: 20px;
        line-height: 30px;
    }
    .blog_stories_wrapper button {
        margin: 60px auto;
    }
    .latest_news .news>h6 {
        width: 100%;
    }
    .blogs_banner .content_wrapper,
    .blogs_banner .left_sec,
    .blogs_banner .right_sec {
        height: 620px;
    }
    .blogs_banner .left_sec .item {
        height: 100%;
    }
    .blogs_banner .right_sec .item {
        width: 300px;
    }
    .blogs_banner .right_sec {
        width: 636px;
    }
    .blogs_banner .right_sec .item:first-child,
    .blogs_banner .right_sec .item:last-child {
        height: 340px;
    }
    .blogs_banner .right_sec .item:nth-child(3),
    .blogs_banner .right_sec .item:nth-child(2) {
        height: 262px;
    }
    .blogs_banner .content_wrapper {
        top: 48px;
        justify-content: center;
    }
    /* Welcome Screen */
    .welcome_content_wrapper:after {
        bottom: -162px;
    }
    .carousel-item img.slider_img {
    height: auto;
    object-fit: cover;
    object-position: center;
    max-height: 550px;
    min-height: 450px;
}
}

@media screen and (max-width:13070x){
    .supporters_sec .cards_wrapper .card {
    width: 24%;
    max-width: 175px;
}
}
@media screen and (max-width:1280px) {
    .hero_text{ color:white;}
    .hero_img_bg {
    background-size: auto 70%;
}
.nav-item .btn-primary,.nav-item .blue_btn{
    padding: 0 15px !important;
    min-width: 100px;max-width: 150px;
}
}
@media screen and (max-width:1030px) {
    
.hero_wrap {
    justify-content: center;
    flex-direction: column;flex-wrap: nowrap;padding-top: 80px;
}
.hero_text {
    order: 2;
    text-align: center;
    max-width: 600px;
    margin: 30px auto;
}
.hero_text h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
.hero_text p {
    font-size: 1rem;
    margin: 10px auto;
}
.hero_text a.blue_btn {
    margin: 10px auto;
}
.title {
    font-size: 2rem;
}
.search_home::before {  bottom: -50px;}
.hero_slider {
    max-width: 700px;
    margin-top: 15px;
}
.why_rmd_2 .step_img .box {
    width: 100%;
    margin-left: 0;
    max-width: 400px;
}
.why_rmd_2 .step_img .img_box img:first-child {
    border-radius: 40px;
    max-height: 400px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.why_rmd_2 .step_img .img_box {
    border-radius: 40px;
    margin-bottom: 30px;
}
.hv_box .video_frame {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.vdo_info {
    text-align: center;
}
.owl-carousel .owl-nav {
    position: relative;
    display: flex;
    justify-content: center;
}
.owl-carousel .owl-nav button{ position:relative; top:auto; left:auto; margin:5px;}
.oac_list .oac_box {
    width: 50%;
    max-width: 600px;
}
.oac_list .oacb_icon {
    width: 100px;
}
.owl-carousel .owl-item {
    padding: 0 5px;
}

}
@media screen and (max-width:1366px) {
    .phone_mock {
        width: 300px;
    }
    .video_frame {
        width: 300px;
    }
    .img_play {
        top: 37%;
        left: 58%;
        width: 60px;
    }
    .video_frame iframe {
        height: 210px;
    }
    .news_list {
        padding: 0 16px 16px 16px;
    }
    /* Work */
    .work_join_sec {
        padding-top: 0;
    }
    .work_join_sec .boxes_wrapper,
    .member_support .boxes_wrapper {
        padding-bottom: 60px;
    }
    /* Blogs */
    .featured_article button {
        margin-top: 30px;
        width: 140px;
        height: 60px;
    }
    .featured_article .heading {
        font-size: 20px;
        line-height: 30px;
    }
    .blog_box>.img_wrapper {
        width: 260px;
        height: auto;
    }
    .blog_box .heading {
        font-size: 20px;
        line-height: 30px;
    }
    .blog_box .heading,
    .blog_box .description {
        margin-top: 24px;
    }
    .blogs_banner .item>img {
        height: 100%;
    }
}

@media screen and (max-width: 1280px) {
    /* Sign Up */
    .sign_up_sec {
        height: auto;
    }
    /* Blogs */
    .blog_stories_wrapper .popular_article .article .txt {
        margin-left: 24px;
    }
    .blogs_banner .right_sec {
        width: 540px;
    }
    .blogs_banner .content_wrapper,
    .blogs_banner .left_sec,
    .blogs_banner .right_sec {
        height: 540px;
    }
    .blogs_banner .right_sec .item {
        width: 252px;
    }
    .blogs_banner .item>.des {
        padding: 18px 18px;
    }
    .blogs_banner .right_sec .item:nth-child(3),
    .blogs_banner .right_sec .item:nth-child(2) {
        height: 222px;
    }
    .blogs_banner .right_sec .item:first-child,
    .blogs_banner .right_sec .item:last-child {
        height: 300px;
    }
    .blogs_banner .item>.des {
        height: 100px;
    }
    .blogs_banner .item>.des {
        padding: 12px 12px;
    }
    .blogs_banner .item>.des>p {
        font-size: 14px;
        line-height: 26px;
    }
    .blogs_banner .item>.des>a {
        font-size: 12px;
    }
}

@media screen and (max-width: 1200px) {
    /* Plans */
    .plans_wrapper .plan {
        width: 360px;
    }
    .plans_wrapper .plan>.body {
        padding: 32px;
    }
    .expertise_row .img_wrapper {
        width: auto;
    }
    .why_rmd_2 .step_block:first-child .step_img {
        overflow: hidden;
    }
    .why_rmd_2 .step_img {
        justify-content: space-evenly;
    }
    .sign_up_sec:after {
        bottom: -130px;
    }
    .sign_up_sec .left,
    .sign_up_sec .right {
        padding: 36px;
    }
    /* Blogs */
    .blog_stories_wrapper .search_box button,
    .blog_stories_wrapper .search_box .search>input {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .carousel-item img.slider_img {
    height: 400px !important;
    min-height: auto;
}
.hero_slider {
    margin-top: 30px;
}
    .navbar-collapse {
    margin: 30px auto;
    text-align: center;
}
.navbar-expand-lg .navbar-nav li{ margin:0.5rem auto;}
.navbar-collapse .navbar-nav{align-items: center; }
header .navbar-expand-lg .navbar-nav li:nth-child(6),header .navbar-expand-lg .navbar-nav li:nth-child(7){ width:max-content;}
    /* Blogs */
    .latest_article>.article_wrapper {
        flex-wrap: nowrap;
    }
    .latest_article>.article_wrapper>.article {
        width: auto;
        margin-left: 12px;
    }
    .latest_article>.article_wrapper>.article:first-child {
        margin-left: 0;
    }
    .latest_article .heading {
        font-size: 20px;
        height: 60px;
        line-height: 30px;
    }
    .blog_box>.img_wrapper {
        width: 300px;
        margin-bottom: 18px;
    }
    .advertisement {
        height: 140px;
    }
    .blog_stories_wrapper button {
        margin: 60px auto 0px auto;
    }
    .member_support.blogs {
        padding: 50px 0 240px 0;
    }
    .blog_stories_wrapper .popular_article .article .txt {
        margin-left: 0;
    }
    .square_advertisement {
        height: 250px;
    }
    .blogs_banner .right_sec {
        width: 400px;
    }
    .blogs_banner .content_wrapper,
    .blogs_banner .left_sec,
    .blogs_banner .right_sec {
        height: 480px;
    }
    .blogs_banner .right_sec .item {
        width: 182px;
    }
    .blogs_banner .right_sec .item:first-child,
    .blogs_banner .right_sec .item:last-child {
        height: 260px;
    }
    .blogs_banner .right_sec .item:nth-child(3),
    .blogs_banner .right_sec .item:nth-child(2) {
        height: 204px;
    }
    .blogs_banner .right_sec .item:last-child {
        margin-top: -58px;
    }
    .blogs_banner .content_wrapper {
        top: 88px;
    }
    /* Welcome Screen */
    .welcome_content_wrapper:after {
        bottom: -112px;
    }
    .welcome_content_wrapper .content_box>.box>h3,
    .welcome_content_wrapper>div .heading {
        font-size: 20px;
        line-height: 30px;
    }
    .welcome_content_wrapper .content_box>.box>p {
        font-size: 14px;
        line-height: 26px;
    }
    .welcome_content_wrapper .content_box {
        padding: 0 12px;
    }
    .welcome_content_wrapper .content_box>.box {
        width: 320px;
    }
    .welcome_content_wrapper .content_box>.box>span {
        font-size: 20px;
    }
    .welcome_content_wrapper .continue_btn {
        width: 320px;
    }
    .tabs_wrapper.welcome>div>a {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    .why_rmd_2 .step_img p {
    font-size: 16px;
    line-height: 30px;
}
    .hero_wrap {
        justify-content: center;
    }
    .why_rmd_2 .step_img .box {
        width: 300px;
    }
    .why_rmd_2 .step_block .ob_img {
        width: 187px !important;
    }
    .why_rmd_2 .step_img .img_box img:first-child {
        border-radius: 20px;
    }
    .why_rmd_2 .step_img .box {
        margin-left: 24px;
    }
    .phone_mock,
    .step_wrap .step_block:nth-child(even) .phone_mock {
        transform: rotate(0deg);
    }
    .navbar {
        padding: 1rem 16px;
    }
    .navbar-expand-lg .navbar-nav li:last-child {
        margin-top: 12px;
    }
    #mainNav {
        background: #fff;
    }
    .navbar-brand {
        color: #ff6c66;
    }
    .navbar-brand .logo_red {
        display: block;
    }
    .navbar-brand .logo_white {
        display: none;
    }
    .hero_img_bg,
    .hero_wrap {
        height: auto;
    }
    .search_home {
        padding-top: 48px;
    }
    /* Work */
    .inner_banner {
        background-position: center;
    }
    .work_join_sec {
        padding: 50px 0 200px 0;
    }
    /* About */
    .client_feedback_sec .feedback {
        width: 100%;
    }
    .client_feedback_sec .feedback>p {
        font-size: 20px;
        line-height: 40px;
    }
    .boxes_wrapper.d_flex_j_center {
        justify-content: space-between;
    }
    .work_join_sec .box:last-child,
    .member_support .boxes_wrapper .box:last-child {
        margin-left: 0;
    }
    /* Contact */
    .contact_info {
        width: 94%;
        height: 572px;
    }
    .contact_info .c_form,
    .contact_info .c_info {
        padding: 24px 24px;
    }
    /* Plans */
    .plans_wrapper .plan {
        margin-left: 18px;
        margin-top: 18px;
    }
    .plans_wrapper {
        justify-content: flex-start;
    }
    .plans_oac .oac_box {
        margin-top: 30px;
    }
    .plans_oac {
        padding: 50px 0 132px 0;
    }
    /* FAQ */
    .faqs_banner .btns_wrapper {
        justify-content: flex-start;
    }
    .faqs_banner .btns_wrapper button {
        margin-left: 12px;
        margin-top: 12px;
    }
    .faqs_banner .treat_selection {
        max-width: 400px;
    }
    /* Terms */
    .terms_sec {
        margin: 0 auto 0px auto;
    }
    /* Sign Up */
    .sign_up_wrapper,
    .sign_up_sec .left,
    .sign_up_sec .right {
        height: auto;
    }
    .sign_up_sec .left {
        width: 30%;
        padding: 100px 16px 60px 16px;
    }
    .sign_up_sec .right {
        width: 70%;
        padding: 100px 16px 60px 16px;
    }
    .sign_up_sec .list .item .fa,
    .sign_up_sec .list .item:first-child img {
        width: 50px;
    }
    .sign_up_sec .right,
    .sign_up_sec .left {
        width: 100%;
    }
    .sign_up_sec .right {
        order: 1;
    }
    .sign_up_sec .left {
        margin: 0 auto;
        border-right: none;
        order: 2;
    }
    .sign_up_sec:after {
        bottom: -92px;
    }
    .sign_up_sec .left {
        padding: 36px 16px 80px 16px;
    }
    .sign_up_sec .right {
        padding: 36px 16px 60px 16px;
    }
}

@media screen and (max-width:812px) {

    .rs_intro_details {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .rsid_img {
        max-width: inherit;
        width: 100%;
    }
    .rsid_img img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .rsid_details {
        width: 100%;
        margin: 30px auto;
    }
    .rmd_ser_treat_types {
        padding: 100px 0 50px 0;
    }
    .treat_selection,
    .search_home .blue_btn {
        margin-top: 20px;
    }
    .video_frame {
        width: 240px;
    }
    .img_play {
        top: 25%;
        left: 64%;
        width: 40px;
    }
    .video_frame iframe {
        height: 165px;
    }
    .client_talk {
        height: auto;
    }
    .experts {
        padding: 180px 0 50px 0;
    }
    .oac {
        padding: 50px 0 180px 0;
    }
    .h_news {
        padding: 50px 0 180px 0;
    }
    .foot_list,
    .h_contact {
        margin-top: 24px;
    }
    /* Work */
    .work_join_sec .box:last-child {
        margin-left: 0;
        margin-top: 24px;
    }
    /* About */
    .work_join_sec.about .box {
        margin-left: 0;
    }
    .boxes_wrapper.d_flex_j_center {
        justify-content: center;
    }
    /* Contact */
    .boxes_wrapper .box:last-child {
        margin-top: 36px;
    }
    .member_support {
        padding: 50px 0 160px 0;
    }
    .contact_info_sec .map>iframe {
        height: 500px;
    }
    .contact_info .c_form form .input_wrapper {
        display: block;
    }
    .contact_info .c_form form input {
        width: 100%;
    }
    .contact_info {
        height: auto;
        background-color: #2c99cb;
    }
    .contact_info .c_form {
        background-color: #fff;
    }
    /* Experts */
    .member_wrapper .item_mem {
        width: 300px;
    }
    .member_wrapper {
        justify-content: space-between;
    }
    /* FAQ */
    .faqs_banner .treat_selection {
        margin-top: 0;
    }
    .faqs_q .boxes_wrapper>.box {
        width: 300px;
        height: 250px;
        padding: 36px 18px;
        margin-top: 0;
    }
    /* Blogs */
    .blog_stories_wrapper button,
    .featured_article button {
        width: 132px;
        height: 50px;
        font-size: 14px;
    }
    .featured_article .img_wrapper {
        border-radius: 14px;
    }
    .blogs_banner .right_sec {
        width: 350px;
    }
    .blogs_banner .content_wrapper,
    .blogs_banner .left_sec,
    .blogs_banner .right_sec {
        height: 400px;
    }
    .blogs_banner .left_sec {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .blogs_banner .right_sec {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .blogs_banner .right_sec .item {
        width: 163px;
    }
    .blogs_banner .right_sec .item {
        margin-left: 12px;
        margin-bottom: 12px;
    }
    .blogs_banner .right_sec .item:first-child,
    .blogs_banner .right_sec .item:last-child {
        height: 220px;
    }
    .blogs_banner .right_sec .item:nth-child(3),
    .blogs_banner .right_sec .item:nth-child(2) {
        height: 168px;
    }
    .blogs_banner .right_sec .item:last-child {
        margin-top: -51px;
    }
    .blogs_banner {
        height: 500px;
    }
    .blogs_banner .content_wrapper {
        top: 48px;
    }
    .terms_sec_2 {
        height: auto;
    }
    .terms_sec_2 .description {
        font-size: 14px;
        text-align: justify;
    }
    .terms_sec_2 .heading {
        font-size: 20px;
    }
    .terms_sec_2>.content_wrapper {
        padding: 47px 48px 56px 38px;
    }
    /* Welcome Screen */
    .welcome_content_wrapper .content_box {
        display: block;
    }
    .welcome_content_wrapper .content_box>.box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 48px;
    }
    .welcome_content_wrapper .content_box>.box {
        width: 350px;
    }
    .welcome_content_wrapper:after {
        bottom: -91px;
    }
    /* Provider Detail Screen */
    .provider_detail_sec .provider_box {
        display: block;
    }
    .provider_detail_sec .provider_box>.img_box,
    .provider_detail_sec .des_box {
        width: 100%;
    }
    .provider_detail_sec .des_box {
        margin-top: 24px;
    }
    .provider_detail_sec .provider_box>.img_box>img {
        max-width: 400px;
        max-height: 385px;
        height: auto;
        width: 100%;
    }
    .meet_providers_sec .exprt_box .exprt_img img {
        height: auto;
    }
}

@media screen and (max-width:767px) {
    .eprt_info {
    text-align: center;
}
    .oac_list .oac_box {
    width: 100%;
    margin-bottom: 30px;
}
    .hiw_ser_btm_boxes {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .hiwb_box {
        width: 100%;
        max-width: 500px;
    }
    .hiwb_box img {
        height: 250px;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }
    .medi_box {
        width: 100%;
        margin: 10px auto;
    }
    .medi_img_box img {
        height: 250px;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }
    /* Blogs */
    .featured_article .img_wrapper {
        margin-bottom: 18px;
    }
    .blog_box>.content_box {
        width: 100%;
    }
    .blog_stories {
        padding-right: 0;
    }
    .blog_stories_wrapper button {
        margin: 36px auto 120px auto;
    }
    .blog_stories_wrapper .popular_article .article>.img_wrapper {
        width: 150px;
        height: 200px;
    }
    .blog_stories_wrapper .popular_article .article .heading {
        width: 320px;
    }
    .blog_stories_wrapper .popular_article .article .txt {
        margin-left: 36px;
    }
    .blog_stories_wrapper .popular_article .article .heading {
        height: 90px;
    }
    .square_advertisement {
        height: 140px;
    }
}

@media screen and (max-width:770px) {
    
    .img_play {
        top: 34%;
        left: 58%;
        width: 60px;
    }
    .hv_box {
        max-width: 300px;
    }
    .search_home {
        margin-top: -1px;
        padding-top: 36px;
    }
    .our_member_exp {
        height: 560px;
    }
    .sponsers_caro {
        height: 240px;
    }
    .sponser_img img {
        width: 160px;
    }
    .sponser_img {
        width: auto;
        padding: 16px;
        height: 100px;
    }
    /* Work */
    .inner_banner .b_text p {
        font-size: 22px;
    }
    .inner_banner {
        height: 500px;
    }
    /* Experts */
    /* .member_wrapper .item_mem {
        margin-left: auto;
        margin-right: auto;
    } */
    .member_wrapper .item_mem {
        width: 250px;
    }
    /* Plans */
    .plans_wrapper {
        justify-content: center;
    }
    .plans_sec,
    .plans_wrapper {
        margin-top: 60px;
    }
    .plans_wrapper .plan {
        height: auto;
    }
    .plans_wrapper .plan:nth-child(2) {
        height: auto;
        margin-top: 60px;
    }
    .plans_wrapper .plan:last-child {
        margin-top: 36px;
    }
    .plans_oac {
        margin-top: 80px;
    }
    .plans_oac {
        padding: 50px 0 80px 0;
    }
    .plans_oac .oac_list {
        margin: 36px auto;
    }
    .plans_wrapper .plan {
        margin-left: 0;
    }
    .expertise_row .img_wrapper {
        width: fit-content;
    }
    /* FAQ */
    .faqs_q {
        padding: 50px 0 200px 0;
    }
    .faqs_banner .btns_wrapper button {
        height: 50px;
        padding: 0 20px;
    }
    /* Sign Up */
    .sign_up_sec .clients .item_box {
        max-width: 360px;
        padding-top: 60px;
    }
    .sign_up_sec .clients.owl-drag .owl-item {
        max-width: inherit;
        margin: auto;
    }
}

@media screen and (max-width:568px) {
    .hero_img_bg {
    background-size: contain;
}
    .carousel-item img.slider_img {
    height: 300px !important;
}
    .step_block {
        display: block;
    }
    .step_img {
        width: 100%;
    }
    .mob_img {
        padding-right: 0;
    }
    .step_details {
        width: 100%;
        padding: 0 16px;
        margin-top: 60px;
    }
    .step_wrap .step_block:nth-child(2) .mob_img {
        padding-left: 10%;
    }
    .oac {
        padding: 50px 0 116px 0;
    }
    .owl-carousel .owl-stage-outer {
        height: auto;
    }
    .experts {
        padding: 100px 0 50px 0;
    }
    .exprt_img img {
        width: 100%;
    }
    .h_news {
        padding: 50px 0 100px 0;
    }
    .foot_list {
        margin-top: 24px;
    }
    .h_contact {
        margin-top: 24px;
        margin-left: 0;
    }
    .title {
        font-size: 30px;padding: 0 15px;
    }
    .news_list {
        padding: 15px 15px;
    }
    .hero_text h1 {
        font-size: 32px;
    }
    .hero_text a.blue_btn {
        margin: auto;
    }
    .hero_text p {
        /* margin-right: 60px; */
    }
    .hero_img_bg {
        overflow: hidden;
    }
    .phone_mock {
        width: 210px;
    }
    .mob_img .frt_img {
        width: 160px;
    }
    .img_play {
        height: auto;
    }
    .oac {
        padding-top: 0;
    }
    .hero_text,
    .hero_slider {
        transform: translate3d(0px, 0px, 0px) !important;
    }
    
    .oac_detail {
        width: 100%;
        text-align: center;display: block;
    }
    .oac_list .oacb_icon {
    width: 100px;
    margin: 0 auto;display: block;
}
    .oacb_icon img {
        width: 150px;
    }
    /* Work */
    .inner_banner .b_text h1 {
        font-size: 40px;
    }
    .inner_banner .b_text p {
        font-size: 20px;
        margin-top: 12px;
    }
    .work_join_sec .box {
        height: auto;
        padding: 60px 36px;
    }
    .work_join_sec {
        padding: 50px 0 136px 0;
    }
    /* About */
    .client_feedback_sec .feedback>.client {
        padding-left: 18px;
    }
    .about_sec .expertise_row .content_wrapper {
        margin-top: 24px;
    }
    .expertise_row,
    .about_sec,
    .work_join_sec.about {
        margin-top: 140px;
    }
    .about_sec ul li>.fa {
        display: inline-table;
        padding: 12px;
    }
    /* Contact */
    .contact_info {
        display: block;
        position: relative;
        transform: translate(0, 0);
        margin-left: 0;
        margin-right: 0;
        transform: translate(-50%, 0);
        margin-bottom: -160px;
    }
    .contact_info .c_form {
        width: 100%;
    }
    .contact_info_sec {
        margin-top: 120px;
    }
    .contact_head_sec button,
    .contact_info .c_form form button {
        width: 200px;
        height: 48px;
    }
    .member_support {
        padding: 50px 0 100px 0;
    }
    .contact_info_sec .map>img {
        height: 400px;
    }
    /* Experts */
    .member_wrapper {
        justify-content: center;
    }
    .work_join_sec.experts_p {
        margin-top: 100px;
    }
    /* Plans */
    .plans_wrapper {
        margin-top: 36px;
    }
    .expertise_row .img_wrapper img,
    .expertise_row .img_wrapper {
        border-radius: 24px;
    }
    /* FAQ */
    .faqs_banner .treat_selection {
        max-width: 300px;
    }
    .faqs_q .boxes_wrapper>.box {
        margin-left: 0;
        margin-top: 36px;
    }
    .faqs_wrapper .faqs .card-header>.card-link {
        font-size: 14px;
    }
    .faqs_banner .btns_wrapper {
        /* justify-content: center; */
        display: none;
    }
    .blue_dot {
        margin-right: 14px;
    }
    .faqs_wrapper .faqs .card-header>.card-link {
        padding: 12px;
    }
    .faqs_wrapper section {
        margin-top: 80px;
    }
    .faqs_banner .treat_selection input {
        padding-left: 54px;
    }
    /* Index */
    .why_rmd_2 .step_img .box {
        margin-left: 0;
        margin-top: 72px;
    }
    .why_rmd_2 .step_img {
        padding-top: 0px;
    }
    /* Terms */
    .terms_sec {
        margin: 48px auto 0px auto;
        text-align: justify;
    }
    .terms_sec .title {
        line-height: 42px;
    }
    /* Sign Up */
    .sign_up_sec .input_wrapper .form-group {
        width: 100%;
    }
    /* Sign Up */
    .sign_up_header .wrapper {
        padding: 0 16px;
    }
    .sign_up_sec .right {
        padding: 60px 16px 60px 16px;
    }
    .sign_up_sec .clients .owl-item {
        width: auto !important;
        margin: auto !important;
    }
    .sign_up_sec:after {
        bottom: -62px;
    }
    /* Blogs */
    .latest_article>.article_wrapper {
        flex-wrap: wrap;
    }
    .latest_article .img_box>img {
        width: 100%;
    }
    .latest_article>.article_wrapper>.article {
        margin-left: 0;
        margin-top: 60px;
    }
    .latest_article>.article_wrapper>.article:first-child {
        margin-top: 0;
    }
    .blog_stories_wrapper .search_box button,
    .blog_stories_wrapper .search_box .search>input {
        height: 50px;
    }
    .blog_stories_wrapper .search_box form {
        margin-top: 36px;
    }
    .blogs_banner .left_sec {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .blogs_banner .right_sec {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .member_support {
        margin-top: 460px;
    }
    .blogs_banner .content_wrapper,
    .blogs_banner .left_sec,
    .blogs_banner .right_sec {
        height: auto;
    }
    .blogs_banner .left_sec,
    .blogs_banner .right_sec {
        width: 100%;
    }
    .blogs_banner .right_sec .item {
        width: 46%;
    }
    .blogs_banner .right_sec {
        justify-content: space-between;
        margin-top: 18px;
    }
    .blogs_banner .right_sec .item:nth-child(1),
    .blogs_banner .right_sec .item:nth-child(3) {
        margin-left: 0;
    }
    .blogs_banner .right_sec {
        border-radius: 0;
    }
    .blogs_banner .content_wrapper {
        border-radius: 20px;
    }
    /* Welcome Screen */
    .welcome_content_wrapper .content_box>.box {
        max-width: 350px;
        width: auto;
    }
    .welcome_content_wrapper:after {
        bottom: -64px;
    }
    .welcome_content_wrapper .content_box {
        margin-top: 0;
    }
    .welcome_content_wrapper .continue_btn {
        margin-top: 60px;
    }
    .welcome_content_wrapper .continue_btn {
        height: 48px;
    }
    /* Provider detail */
    .provider_detail_sec .about_box {
        margin-bottom: 36px;
    }
    .work_join_sec.providers_d {
        margin-top: 36px;
        padding: 50px 0 1200px 0;
    }
}

@media screen and (max-width:425px) {
    
    .faqs_banner .search_box .btn-primary {
        margin-top: 24px;
    }
    .why_rmd_2 .step_block .ob_img {
        width: 160px !important;
    }
    .why_rmd_2 .step_img .img_box:nth-child(odd) .ob_img {
        bottom: -44px;
        left: -44px;
    }
    .why_rmd_2 .step_img .box:nth-child(2) .ob_img {
        bottom: -44px !important;
        right: -60px;
        left: auto !important;
    }
    /* Sign Up */
    .sign_up_sec:after {
        bottom: -47px;
    }
    /* Blogs */
    .blog_box .description,
    .blog_box .heading,
    .featured_article .description,
    .featured_article .heading {
        text-align: justify;
    }
    .blog_stories_wrapper .popular_article .article .txt {
        margin-left: 0;
        margin-top: 16px;
    }
    .blog_stories_wrapper .popular_article .article .heading {
        width: 100%;
    }
    .member_support.blogs {
        padding: 50px 0 120px 0;
    }
    .member_support {
        margin-top: 360px;
    }
    /* Welcome Screen */
    .welcome_content_wrapper:after {
        bottom: -48px;
    }
    .jq-toast-wrap.top-right {
        right: 10px!important;
        left: 10px;
        min-width: 300px!important;
    }
    
}

@media screen and (max-width:375px) {
    .navbar-brand .logo_red {
        width: 180px;
    }
    .expert_caro {
        height: 600px;
    }
    footer {
        padding-top: 24px;
    }
    /* Work */
    .work_join_sec .box>div {
        text-align: left;
    }
    .work_join_sec .box>div img:last-child {
        margin-left: 0px;
        margin-top: 8px;
    }
    .client_feedback_sec .feedback>.client {
        padding-left: 0px;
    }
    .client_feedback_sec .feedback>.client>span {
        font-size: 14px;
        margin-left: 16px;
    }
    .client_feedback_sec .feedback>.client>img {
        width: 60px;
    }
    /* FAQ */
    .faqs_banner .btns_wrapper button {
        height: 42px;
        padding: 0 12px;
    }
    /* Index */
    .why_rmd_2 .step_img .box {
        width: 280px;
    }
    .why_rmd_2 .step_img .img_box:nth-child(odd) .ob_img {
        bottom: -40px !important;
        left: -22px !important;
    }
    .why_rmd_2 .step_img .box:nth-child(2) .ob_img {
        bottom: -44px !important;
        right: -12px !important;
        left: auto !important;
    }
    /* Sign Up */
    .sign_up_sec:after {
        bottom: -40px;
    }
    /* Blogs */
    .member_support {
        margin-top: 300px;
    }
    /* Welcome Screen */
    .welcome_content_wrapper:after {
        bottom: -42px;
    }
}

/*------shipping------*/

@media screen and (max-width:507px) {
    .ship_d>p>a {
        font-size: 14px;
        color: #6495ED;
    }
    .ship_d {
        text-align: right;
        padding-top: 18px;
    }
}

@media screen and (max-width:491px) {
    .ship_d {
        text-align: right;
        padding-top: 23px;
    }
}

@media screen and (max-width:484px) {
    .ship_d {
        text-align: right;
        padding-top: 30px;
    }
}

@media screen and (max-width:469px) {
    .ship_d {
        padding-top: 38px;
    }
}

@media screen and (max-width:437px) {
    .ship_d {
        padding-top: 50px;
    }
}


/*----------dosage---------*/

@media screen and (max-width:408px) {
    .dosage_intro p {
        font-size: 13px;
        padding-left: 34px;
        line-height: 25px;
    }
}

@media screen and (max-width:391px) {
    .dosage_intro p {
        font-size: 13px;
        padding-left: 34px; 
        line-height: 22px;
    }
}

@media screen and (max-height:768px) {
    .sign_in_sec_wrapper {
        min-height: 768px;
    }
}
