
.forwarded {
    height: 35px;
    background-color: #FFFFFF;
    color: #687A97;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    padding: 12px 16px 13px 16px;
    margin-top: -1px;
}

.j-update_dialog_form, .j-update_chat__title_button, .j-back_to_dialog, .j-update_dialog_link {
    display: none;
}

.j-update_dialog_form.active, .j-update_chat__title_button.active, .j-back_to_dialog.active {
    display: block;
    margin-top: 4px;
    margin: 15px 0 0 12px;
}

.j-update_dialog_link.active {
    display: block;
}


.j-update_dialog h5 {
    color: #6C7A92;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;
    top: 29px;
    left: 16px;
    display: none;
    margin-left: 11px;
    margin-top: -4px;
}

.j-update_dialog h5.active {
    display: block;
}

.j-update_dialog h3 {
    position: absolute;
    top: 13px;
    right: 15px;
    color: #ff6c66;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: right;
    cursor: pointer;
}

.update_chat__user_list {
    display: none;
    background-color: rgb(240 242 244);
}

.update_chat__user_list.active {
    display: block;
}

.j-update_dialog_btn, .j-create_dialog_btn, .j-forward_dialog_btn {
     position: absolute;
     top: 6px;
     right: 2px;
     color: #ff6c66;
     font-family: "Open Sans";
     font-size: 15px;
     height: 22px;
     width: 67px;
     font-weight: 600;
     line-height: 22px;
     text-align: right;
     z-index: 2;
 }

.j-forward_dialog_btn {
    top: 3px;
}

.j-delete_dialog_btn {
    color: #ff6c66;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 15px 16px 0 0;
}

.j-occupants_chat__user_list .container {
    display: none !important;
}

.dialog_date_message {
    display: block;
    width: fit-content;
    margin: 10px auto;
    border-radius: 11px;
    background-color: #D9E3F7;
    padding: 2px 20px 2px 20px;
    color: #6C7A92;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}

.sidebar__dilog_list {
    flex: 1 1 100%;
    overflow-y: auto;
    text-align: left;
    padding: 0px;
}

.sidebar__dilog_list.loading:after {
    content: "";
    display: block;
    background: url(../img/loader2.gif);
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 15px auto;
}

.sidebar__dilog_list .dialog__item {
    display: block;
    width: 100%;
    border-left: 2px solid #ffffff;
}

.sidebar__dilog_list .dialog__item.selected,
.sidebar__dilog_list .dialog__item:hover {
    background-color: #f1f8f9;
    border-left: 2px solid #ff6c66;
}
/*
.sidebar__dilog_list .dialog__item.selected .dialog__name,
.sidebar__dilog_list .dialog__item.selected .dialog__last_message,
.sidebar__dilog_list .dialog__item:hover .dialog__last_message,
.sidebar__dilog_list .dialog__item:hover .dialog__name {
    color: #FFFFFF;
}*/




.dialog__item_link {
    padding: 16px 10px;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

.open_sidebar {
    border: none;
    width: 24px;
    height: 24px;
    background-color: #778594;
    -webkit-mask: url(../img/ic_arrow_back.svg) no-repeat 50% 50%;
    mask: url(../img/ic_arrow_back.svg) no-repeat 50% 50%;
    cursor: pointer;
    flex: 0 0 24px;
    padding: 0;
    margin: 0 16px 0 0;
}
.dialog__title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #4A4A4A;
    flex: 1 1 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis

}

.dialog__item {
    cursor: pointer;
}

.dialog__avatar.m-user__img_1,
.message__avatar.m-user__img_1,
.user__avatar.m-user__img_1 {
    color: #fff;
    background-color: #53C6A2;
}
.message__avatar {
    transition: .3s;
}

.dialog__avatar.m-user__img_2,
.message__avatar.m-user__img_2,
.user__avatar.m-user__img_2 {
    color: #fff;
    background-color: #FDD762;
}

.dialog__avatar.m-user__img_3,
.message__avatar.m-user__img_3,
.user__avatar.m-user__img_3 {
    color: #fff;
    background-color: #9261D3;
}

.dialog__avatar.m-user__img_4,
.message__avatar.m-user__img_4,
.user__avatar.m-user__img_4 {
    color: #fff;
    background-color: #43DCE7;
}

.dialog__avatar.m-user__img_5,
.message__avatar.m-user__img_5,
.user__avatar.m-user__img_5 {
    color: #fff;
    background-color: #FFCC5A;
}

.dialog__avatar.m-user__img_6,
.message__avatar.m-user__img_6,
.user__avatar.m-user__img_6 {
    color: #fff;
    background-color: #EA4398;
}

.dialog__avatar.m-user__img_7,
.message__avatar.m-user__img_7,
.user__avatar.m-user__img_7 {
    color: #fff;
    background-color: #4A5DE1;
}

.dialog__avatar.m-user__img_8,
.message__avatar.m-user__img_8,
.user__avatar.m-user__img_8 {
    color: #fff;
    background-color: #E95555;
}

.dialog__avatar.m-user__img_9,
.message__avatar.m-user__img_9,
.user__avatar.m-user__img_9 {
    color: #fff;
    background-color: #7EDA54;
}

.dialog__avatar.m-user__img_10,
.message__avatar.m-user__img_10,
.user__avatar.m-user__img_10 {
    color: #fff;
    background-color: #F9B647;
}

.dialog__avatar.m-type_group.m-user__img_1 {
    color: #fff;
    background-color: #53C6A2;
}

.dialog__avatar.m-type_group.m-user__img_2 {
    color:  #fff;
    background-color: #FDD762;
}

.dialog__avatar.m-type_group.m-user__img_3 {
    color: #fff;
    background-color: #9261D3;
}

.dialog__avatar.m-type_group.m-user__img_4 {
    color: #fff;
    background-color: #43DCE7;
}

.dialog__avatar.m-type_group.m-user__img_5 {
    color: #fff;
    background-color: #FFCC5A;
}

.dialog__avatar.m-type_group.m-user__img_6 {
    color: #fff;
    background-color: #EA4398;
}

.dialog__avatar.m-type_group.m-user__img_7 {
    color: #fff;
    background-color: #4A5DE1;
}

.dialog__avatar.m-type_group.m-user__img_8 {
    color: #fff;
    background-color: #E95555;
}

.dialog__avatar.m-type_group.m-user__img_9 {
    color: #fff;
    background-color: #7EDA54;
}

.dialog__avatar.m-type_group.m-user__img_10 {
    color: #fff;
    background-color: #F9B647;
}

.message__avatar.m-user__img_not_loaded,
.message__avatar.m-typing_unknown {
    opacity: .1;
}

.dialog__info {
    flex: 1 1 100%;
    overflow: hidden;
}

.dialog__name {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #4A4A4A;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 10px 6px 0;
}

.dialog__last_message {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    color: #778594;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dialog__last_message.attachment {
    color: #2C99CB;
}


.dialog_additional_info {
    flex:0 0 24px;
    text-align: right;
}

.dialog__last_message_date {
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
    margin: 0 0 2px 0;
    display: inline-block;
}

.dialog_unread_counter {
    min-width: 23px;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: #00CC4C;
}

.dialog_unread_counter.hidden {
    display: none;
}

.center {
    width: 100%;
    text-align: center;
}

#is__typing {
    height: 38px;	width: 375px;
    color: #6C7A92;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: italic;
    line-height: 17px;
}

@media screen and (min-width: 880px) {

    .j-create_dialog h5, .j-delete_dialog h5, .j-update_dialog h5 {
        margin-left: 16px;
    }

}
